#newsletter_block_home {
  margin: 0;
  padding: 70px 0;
  text-align: center; }
  #newsletter_block_home h3.title_block {
    border: none;
    font-size: 30px;
    letter-spacing: 0px;
    margin: 0 0 10px;
    padding: 0;
    color: #363636;
    font-weight: 700; }
  #newsletter_block_home p {
    margin-bottom: 25px;
    letter-spacing: 3px;
    font-size: 14px; }
  #newsletter_block_home form {
    margin: 0;
    width: 100%; }
  #newsletter_block_home .form-group {
    margin: 0;
    padding: 0;
    position: relative;
    background: #fff;
    width: 33.3333%;
    display: inline-block; }
    #newsletter_block_home .form-group .button {
      padding: 10px 30px 8px;
      color: #363636;
      font-size: 13px;
      font-weight: 300;
      letter-spacing: 2px;
      border: solid 2px #000;
      border-radius: 2px;
      background: #fff;
      text-transform: uppercase;
      font-weight: 600; }
      #newsletter_block_home .form-group .button:hover {
        background: #000;
        color: #fff; }
    #newsletter_block_home .form-group .newsletter-input {
      height: 60px;
      width: 100%;
      border: none;
      border-bottom: solid 1px #000;
      background: transparent;
      color: #acacac;
      font-size: 14px;
      width: 100%;
      padding: 20px;
      letter-spacing: 3px;
      text-align: center;
      margin: 0 0 30px; }

.ps-spotlight14 #newsletter_block_home {
  background: url(../../../img/icon/bg_newletter.jpg) no-repeat center center;
  background-size: 100% 100%;
  position: relative;
  z-index: 2;
  margin-bottom: -75px; }
  .ps-spotlight14 #newsletter_block_home .form-group {
    background: transparent; }
    .ps-spotlight14 #newsletter_block_home .form-group .newsletter-input {
      border-color: #fff; }
    .ps-spotlight14 #newsletter_block_home .form-group .button {
      background: transparent;
      color: #fff;
      border-color: #fff; }
      .ps-spotlight14 #newsletter_block_home .form-group .button:hover {
        background: #fff;
        color: #363636; }
  .ps-spotlight14 #newsletter_block_home h3.title_block, .ps-spotlight14 #newsletter_block_home p {
    color: #fff; }

@media (min-width: 992px) and (max-width: 1199px) {
  #newsletter_block_home .form-group {
    width: 50%; } }
@media (min-width: 768px) and (max-width: 992px) {
  #newsletter_block_home .form-group {
    width: 50%; } }
@media (max-width: 767px) {
  #newsletter_block_home .form-group {
    width: 80%; } }
