/*   1.HD devices Desktops     	  ( Devices =1450px)
 *   1.Large devices Desktops     (1200px = Devices = 1400px)
 *   2.Medium devices Desktops    (980px =  Devices  = 1024px)
 *   3.Small devices Tablets      (767px =  Devices  = 979px)
 *   4.Extra small devices Phones ( Devices <767px)
 */
/* 3.Medium devices Desktops 
================================================== */
/* 4.Small devices Tablets
================================================== */
/* 5.Extra small devices Phones
================================================== */
/* 5.Small devices Phones
================================================== */
@media (min-width: 1400px) {
  .content-v2 .header-container {
    padding: 0 75px;
  }
  .content-v2 .header-container .container {
    width: 100%;
    padding: 0;
  }
  .content-v2 .header-container .container .container {
    padding: 0 100px;
  }
  .sphomepage-slider .owl-item .sphomeslider-description {
    padding-top: 17% !important;
  }
}
@media (min-width: 1200px) {
  .menu-fixed .spsf-menu li ul.submenu-container {
    transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
  }
  .menu-fixed .spsf-menu li:hover ul.submenu-container {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
  }
  .menu-fixed .shopping_cart .cart_block {
    transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
  }
  .menu-fixed .shopping_cart:hover .cart_block {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px !important;
  }
  .ps-spotlight4 {
    background-size: 100% 80%;
  }
  .product_list.list .price-box {
    margin-bottom: 5px;
  }
  .product_list .product-image-container .product-image .img_1, .product_lists .product-image-container .product-image .img_1 {
    width: 100%;
  }
  .product_list .button-container .cart_button, .product_lists .button-container .cart_button {
    font-size: 11px;
  }
  .sharing-buttons .buttons a {
    margin: 0 0 0 31px;
  }
  .pb-right-column .comments_note .comments_advices {
    padding: 3px 15px;
  }
  #product_full #views_block {
    width: 90px;
  }
  #product_full #views_block .thumbnail_image {
    margin-bottom: 24px;
  }
  #product_full #views_block .slick-arrow.slick-next {
    bottom: 24px;
  }
  #product_right .pb-right-column, #product_left .pb-right-column, #product_right .pb-left-column, #product_left .pb-left-column {
    width: 50%;
  }
  #product_right .sharing-buttons .buttons a, #product_left .sharing-buttons .buttons a {
    margin: 0 0 0 24px;
  }
  #product_right #views_block .thumbnail_image .fancybox, #product_left #views_block .thumbnail_image .fancybox {
    margin: 0 33px 0 0;
  }
  .rtl .sharing-buttons .buttons a {
    margin: 0 31px 0 0;
  }
  .rtl #product_right .sharing-buttons .buttons a, .rtl #product_left .sharing-buttons .buttons a {
    margin: 0 24px 0 0;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .container {
    width: 750px !important;
  }
  .ps-spotlight4 {
    background-size: 100% 80%;
  }
  .breadcrumb .title-page {
    font-size: 26px;
  }
  div.footer-logo {
    width: 100%;
  }
  #block_contact_infos {
    margin-bottom: 30px;
  }
  .product_list .button-container .quick-view, .product_lists .button-container .quick-view {
    display: none;
  }
  .product_list .button-container .cart_button, .product_lists .button-container .cart_button {
    width: calc(100% - 80px);
  }
  .product_list.list .price-box, .product_lists.list .price-box {
    margin-bottom: 5px;
  }
  .product_list.list .product-image-container, .product_lists.list .product-image-container {
    display: inline-block;
    margin: 0 0 20px;
  }
  #product_full .pb-left-column {
    margin-bottom: 30px;
  }
  #product_full .pb-left-column #image-block {
    width: 82%;
  }
  #product_full .pb-left-column #image-block img {
    width: 100%;
  }
  #product_right .pb-left-column, #product_left .pb-left-column {
    margin-bottom: 30px;
  }
  #product_right .pb-left-column, #product_left .pb-left-column, #product_right .pb-right-column, #product_left .pb-right-column {
    width: 100%;
  }
  #product_right #views_block .thumbnail_image .fancybox, #product_left #views_block .thumbnail_image .fancybox {
    margin: 0 31px 0 0;
  }
  #product.content_only #product_full .pb-left-column {
    width: 60%;
  }
  #product.content_only #product_full .pb-left-column #views_block {
    width: 95px;
  }
  #product.content_only #product_full .pb-left-column #views_block .thumbnail_image {
    margin-bottom: 16px;
  }
  #product.content_only #product_full .pb-left-column #image-block {
    width: 80%;
  }
  #product.content_only #product_full .pb-right-column {
    width: 40%;
  }
  #product.content_only #product_left, #product.content_only #product_right {
    width: 100%;
  }
  #product.content_only #product_left .pb-left-column, #product.content_only #product_right .pb-left-column {
    width: 55%;
  }
  #product.content_only #product_left .pb-right-column, #product.content_only #product_right .pb-right-column {
    width: 45%;
  }
  #product.content_only #product_left #views_block, #product.content_only #product_right #views_block {
    height: 105px;
  }
  #product.content_only #product_left #views_block .thumbnail_image, #product.content_only #product_right #views_block .thumbnail_image {
    float: left;
    margin-right: 26px;
  }
  #product.content_only #product_left #views_block .thumbnail_image .fancybox, #product.content_only #product_right #views_block .thumbnail_image .fancybox {
    margin: 0;
  }
  #product.content_only .sharing-buttons .buttons a {
    margin: 0 0 0 26px;
  }
  .rtl.content_only {
    direction: rtl !important;
  }
  .rtl.content_only #product_left #views_block #thumbs_list {
    width: calc(100% + 35px) !important;
  }
  .rtl.content_only #product_left #views_block .thumbnail_image {
    float: right !important;
    margin: 0 0 0 26px !important;
  }
  .rtl.content_only #product_left #views_block .thumbnail_image .fancybox {
    margin: 0 !important;
  }
}
@media (max-width: 767px) {
  .container {
    width: auto !important;
  }
  .block .title_block, .moduletable .title_block {
    cursor: pointer;
  }
  .ps-spotlight4 {
    background-size: 100% 100%;
  }
  .breadcrumb {
    padding: 87px 0;
  }
  .breadcrumb .title-page {
    line-height: 30px;
  }
  #header {
    padding: 0;
  }
  .header-form {
    display: none;
  }
  .header-mobile {
    display: block;
  }
  #header-logo {
    text-align: center;
    padding-bottom: 40px;
  }
  #header-menu {
    padding: 0;
  }
  #header-cart {
    padding: 0;
  }
  #header-cart .sep {
    display: none;
  }
  .account-mobile {
    display: block;
    height: 50px;
    width: 50px;
    border-left: solid 1px #3b3b3b;
    position: absolute;
    right: 100px;
    bottom: 1px;
    text-align: center;
  }
  .account-mobile .fa {
    line-height: 50px;
    font-size: 16px;
  }
  .account-mobile:hover {
    color: #fff;
  }
  .header-container .header_v4#header {
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    z-index: inherit;
  }
  .header-container .header_v4 .header-wrap {
    padding: 0;
    box-shadow: none;
  }
  #header.header_v5 {
    padding: 0 0 15px;
  }
  .footer-container .footer {
    padding: 60px 0 30px;
  }
  .footer-container .footer .box-footer {
    margin-bottom: 30px;
  }
  #copyright .copyright {
    text-align: center;
    padding: 5px 0 15px;
  }
  .footer-container #copyright .footer-payment {
    text-align: center;
  }
  .product_list .button-container .quick-view, .product_lists .button-container .quick-view {
    display: none;
  }
  .product_list .button-container .cart_button, .product_lists .button-container .cart_button {
    width: calc(100% - 80px);
  }
  .pb-left-column {
    margin-bottom: 30px;
  }
  #product_full #views_block .thumbnail_image {
    margin-bottom: 11px;
  }
  #product_full #views_block .slick-arrow.slick-next {
    bottom: 11px;
  }
  #product_right .pb-left-column, #product_left .pb-left-column, #product_right .pb-right-column, #product_left .pb-right-column {
    width: 100%;
  }
  #product_right #views_block .thumbnail_image .fancybox, #product_left #views_block .thumbnail_image .fancybox {
    margin: 0 32px 0 0;
  }
  .rtl .account-mobile {
    right: auto;
    left: 100px;
    border-left: none;
    border-right: solid 1px #3b3b3b;
  }
  .rtl #product_left #views_block #thumbs_list {
    width: calc(100% + 32px);
  }
  .rtl #product_left #views_block .thumbnail_image .fancybox {
    margin: 0 0 0 32px;
  }
  .rtl .footer-container #copyright .footer-payment {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .btn, button, .button, input.button_mini, input.button_small, input.button, input.button_large, input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled, input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large, input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled, a.button_mini, a.button_small, a.button, a.button_large, a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large, span.button_mini, span.button_small, span.button, span.button_large, span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large, span.exclusive_large_disabled {
    padding: 7px 10px;
  }
  div.pagination {
    width: 100%;
    margin: 0 0 10px;
  }
  .content_sortPagiBar_top .nbrItemPage, .content_sortPagiBar_bottom .nbrItemPage {
    margin: 0 0 10px -10px;
    width: 100%;
  }
  .content_sortPagiBar_top .productsSortForm, .content_sortPagiBar_bottom .productsSortForm {
    width: 100%;
  }
  .product_list .ajax_block_product {
    width: 100%;
  }
  .product_list .product-image-container .product-image img, .product_lists .product-image-container .product-image img {
    width: 100%;
  }
  #pagination ul.pagination li, #pagination_bottom ul.pagination li {
    padding: 15px;
  }
  #pagination ul.pagination li#pagination_previous_bottom, #pagination_bottom ul.pagination li#pagination_previous_bottom, #pagination ul.pagination li#pagination_next_bottom, #pagination_bottom ul.pagination li#pagination_next_bottom {
    padding: 15px;
  }
  .pb-right-column .comments_note .comments_advices {
    padding: 2px;
  }
  .sharing-buttons .buttons a {
    margin: 0 0 0 17px;
  }
  .blockproductscategory.block .related-product .product-box {
    padding: 0;
  }
  .blockproductscategory.block .related-product .owl-controls .owl-nav .owl-next {
    right: 0;
  }
  .blockproductscategory.block .related-product .owl-controls .owl-nav .owl-prev {
    left: 0;
  }
  #product_full #views_block {
    width: 100%;
  }
  #product_full #views_block .thumbnail_image .fancybox.shown {
    margin-right: 1px;
  }
  #product_full #views_block .slick-arrow.slick-next {
    right: 0;
    top: 32%;
    left: auto;
    bottom: auto;
  }
  #product_full #views_block .slick-arrow.slick-next:after {
    content: "\f105";
  }
  #product_full #views_block .slick-arrow.slick-prev {
    left: 0;
    top: 32%;
  }
  #product_full #views_block .slick-arrow.slick-prev:after {
    content: "\f104";
  }
  #product_full .pb-left-column #image-block {
    width: 100%;
  }
  #product_left #views_block .slick-arrow {
    top: 25px;
  }
  .rtl div.pagination {
    margin: 0 0 10px;
  }
  .rtl .content_sortPagiBar_top .nbrItemPage, .rtl .content_sortPagiBar_bottom .nbrItemPage {
    margin: 0 -10px 10px 0;
  }
  .rtl .content_sortPagiBar_top .productsSortForm, .rtl .content_sortPagiBar_bottom .productsSortForm {
    margin: 0;
  }
  .rtl .sharing-buttons .buttons a {
    margin: 0 17px 0 0;
  }
  .rtl #product_left #views_block #thumbs_list {
    width: calc(100% + 34px);
  }
  .rtl #product_left #views_block .thumbnail_image .fancybox {
    margin: 0 0 0 34px;
  }
}
