#currencies-block-top {
  border-bottom: solid 1px #dbdfe1;
  padding: 23px 30px; }
  #currencies-block-top ul li {
    padding: 7px 0; }
    #currencies-block-top ul li a, #currencies-block-top ul li span {
      color: #363636; }
  #currencies-block-top label {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    padding-bottom: 7px;
    font-size: 14px; }

#currencies-block-mobile {
  display: inline-block;
  position: relative;
  float: right; }
  #currencies-block-mobile div.current {
    padding: 15px;
    cursor: pointer;
    margin: 0; }
    #currencies-block-mobile div.current span {
      padding: 0 15px 0 0px;
      color: #666;
      font-size: 12px; }
    #currencies-block-mobile div.current:after {
      content: "\f107";
      font-family: FontAwesome;
      font-size: 12px;
      position: absolute;
      top: 13px;
      right: 15px;
      color: #666; }
  #currencies-block-mobile ul {
    display: none;
    position: absolute;
    padding: 5px 10px;
    background: #fff;
    right: 0;
    top: 100%;
    box-shadow: 0 0 2px #999;
    right: 15px;
    left: 15px;
    z-index: 3; }
    #currencies-block-mobile ul li a, #currencies-block-mobile ul li > span {
      padding: 0;
      display: block;
      line-height: 24px;
      text-transform: uppercase;
      font-size: 12px; }

.rtl #currencies-block-mobile {
  float: left; }
  .rtl #currencies-block-mobile div.current span {
    padding: 0 0 0 15px; }
  .rtl #currencies-block-mobile div.current:after {
    right: auto;
    left: 15px; }
