.sp_searchpro {
  float: right;
  margin-top: 1px; }
  .sp_searchpro .icon-search {
    cursor: pointer; }
  .sp_searchpro .spr-container .sprsearch-form {
    margin: 15% auto auto; }
    .sp_searchpro .spr-container .sprsearch-form > div {
      background: #fff;
      padding: 75px 15px;
      position: relative; }
  .sp_searchpro .spr-container .close {
    font-size: 18px;
    color: #636363;
    position: absolute;
    top: 5px;
    right: 7px;
    opacity: 1;
    background: transparent;
    padding: 0; }
    .sp_searchpro .spr-container .close:hover {
      background: transparent; }
  .sp_searchpro .spr-container .text-button {
    padding: 0;
    margin: 0 -16px;
    height: 50px;
    border: solid 1px #e5e5e5;
    background: #fff;
    position: relative;
    padding: 0 50px 0 25px; }
  .sp_searchpro .spr-container .spr_selector {
    height: 50px;
    position: relative; }
    .sp_searchpro .spr-container .spr_selector:before {
      content: "\f107";
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      height: 100%;
      z-index: 2;
      pointer-events: none;
      text-align: center;
      line-height: 50px;
      color: #fff;
      font-size: 18px;
      font-family: Fontawesome; }
    .sp_searchpro .spr-container .spr_selector:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      pointer-events: none; }
    .sp_searchpro .spr-container .spr_selector .spr_select {
      border: none;
      box-shadow: none;
      position: relative;
      z-index: 1;
      height: 50px;
      width: 100%;
      padding: 10px 20px;
      cursor: pointer;
      background: transparent;
      color: #fff;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-weight: 600; }
      .sp_searchpro .spr-container .spr_selector .spr_select option {
        padding: 5px 20px;
        color: #363636;
        letter-spacing: 0;
        text-transform: none;
        font-weight: 400; }
      .sp_searchpro .spr-container .spr_selector .spr_select:hover {
        box-shadow: none;
        border: none; }
  .sp_searchpro .spr-container .spr-search-button {
    background: transparent;
    color: #636363;
    font-size: 21px;
    border: none;
    border-radius: 0;
    position: absolute;
    top: 1px;
    right: 1px;
    padding: 0;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px; }
    .sp_searchpro .spr-container .spr-search-button:hover, .sp_searchpro .spr-container .spr-search-button:focus {
      box-shadow: none; }
  .sp_searchpro .spr-container .text-search .spr-query {
    width: 100%;
    background: transparent;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    color: #b7b7b7;
    font-weight: 300;
    border: none;
    box-shadow: none; }
    .sp_searchpro .spr-container .text-search .spr-query:focus, .sp_searchpro .spr-container .text-search .spr-query:hover {
      box-shadow: none;
      border: none; }

.ac_results {
  width: 375px !important; }

.rtl .ac_results {
  text-align: right;
  direction: rtl; }

.modal-open {
  overflow: auto; }

@media (min-width: 992px) and (max-width: 1199px) {
  .sp_searchpro .spr-container .spr_selector .spr_select {
    padding: 10px 25px; } }
@media (min-width: 768px) {
  .content-v4 .modal-backdrop {
    display: none; }
  .content-v4 #myModal {
    background: rgba(0, 0, 0, 0.5); } }
@media (max-width: 767px) {
  .sp_searchpro {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 50px;
    bottom: 1px;
    margin: 0;
    border: solid 1px #3b3b3b;
    border-top: none;
    border-bottom: none; }
    .sp_searchpro .icon-search {
      display: block;
      line-height: 50px;
      text-align: center; }
      .sp_searchpro .icon-search:hover {
        color: #fff; }
    .sp_searchpro .spr-container .sprsearch-form {
      margin: 15% 15px auto; }
      .sp_searchpro .spr-container .sprsearch-form .text-button {
        margin: 15px 15px 0; }
      .sp_searchpro .spr-container .sprsearch-form > div {
        padding: 15px; }
    .sp_searchpro .spr-container .close {
      top: -10px;
      right: -10px;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background: #fff;
      font-size: 14px; }
      .sp_searchpro .spr-container .close:hover {
        background: #fff; }

  .rtl .sp_searchpro {
    right: auto;
    left: 50px; }
    .rtl .sp_searchpro .spr-container .close {
      left: -10px;
      right: auto; } }
