#enabled_filters .layered_subtitle {
  font-weight: bold;
  font-size: 12px; }

#enabled_filters ul li {
  padding: 2px 0; }

#enabled_filters li a {
  float: right;
  /*display: inline-block;
  height: 12px;
  width: 12px;
  text-indent: -5000px;*/
  /*background: url(../../../img/icon/delete.gif) no-repeat 0 0 transparent;*/
  /*background: url(./delete.gif) no-repeat 0 0 transparent;*/
  cursor: pointer;
  font-size: 12px; }

#layered_block_left .layered_close {
  float: right;
  padding-right: 5px; }

#layered_block_left span.layered_close a,
#layered_block_left span.layered_close a {
  display: block;
  height: 13px;
  width: 13px;
  text-decoration: none;
  text-indent: -5000px;
  background: url(img/icon/less.gif) no-repeat 2px 2px; }

#layered_block_left span.closed a {
  background: url(img/icon/more.gif) no-repeat 2px 2px; }

#layered_block_left .layered_subtitle {
  display: block;
  font-weight: bold;
  font-size: 12px; }

#layered_block_left ul {
  clear: both;
  padding: 5px 0; }

#layered_block_left ul li {
  padding: 2px 0; }

#layered_block_left ul li label {
  cursor: pointer; }

#layered_block_left ul {
  padding-left: 0; }

#layered_block_left ul li {
  list-style-type: none; }

#layered_block_left div > form > div > div {
  margin-top: 5px; }

#layered_block_left #enabled_filters ul li {
  margin-left: 0;
  padding-left: 0; }

/* Style moved form the template to the css  */
#layered_block_left #enabled_filters ul li:hover {
  background: inherit;
  color: inherit; }

#layered_block_left ul li input.checkbox {
  vertical-align: middle;
  margin-left: 2px; }

#layered_block_left ul li .disabled {
  color: #666; }

#layered_block_left .color-option.disable {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5; }

#layered_block_left .nomargin a {
  display: inline;
  color: #010101; }

#layered_form .select {
  width: 165px; }

#layered_form .color-option {
  margin: 0;
  width: 28px;
  height: 27px;
  padding: 0;
  border: solid 1px #fff; }

#layered_form .color-option.on {
  border: 1px solid red; }

#layered_form input[type=radio] {
  margin-left: 2px;
  vertical-align: middle; }

.layered_price_range {
  margin-left: 7px; }

.layered_price_range_unit {
  margin-right: 7px; }

.layered_slider_container {
  width: 95%; }

.layered_slider {
  margin-top: 5px; }

.layered_input_range_min {
  width: 30px; }

.layered_input_range_max {
  width: 40px; }

.layered_list_selected {
  font-weight: bold; }

.layered_list {
  display: block;
  cursor: pointer; }

.layered_list:hover {
  font-weight: bold; }

.layered_ajax_loader p {
  margin: 20px 0;
  text-align: center; }

.hide-action {
  text-align: center;
  text-align: right;
  display: block;
  cursor: pointer; }

.hide-action:hover {
  font-weight: bold; }

#layered_form div div ul {
  max-height: 200px;
  overflow-x: auto; }

.layered_filter label {
  font-weight: normal; }
.layered_filter layered_subtitle {
  font-size: 1.2 em; }

#layered_block_left.block {
  margin-bottom: 20px; }
  #layered_block_left.block .title_block {
    display: none; }

#layered_block_left #layered_form {
  margin: 0; }
  #layered_block_left #layered_form .layered_filter, #layered_block_left #layered_form .layered_price {
    overflow: hidden;
    padding: 0 0 30px;
    margin: 0; }
  #layered_block_left #layered_form #enabled_filters {
    margin: 0;
    padding: 0 0 30px; }
    #layered_block_left #layered_form #enabled_filters .layered_subtitle {
      padding: 10px 0 25px;
      margin: 0 0 10px;
      color: #363636;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 3px; }
    #layered_block_left #layered_form #enabled_filters ul {
      padding: 0;
      overflow: hidden; }
      #layered_block_left #layered_form #enabled_filters ul li {
        font-size: 13px;
        padding: 14px 0; }
  #layered_block_left #layered_form span.layered_subtitle {
    float: none;
    padding: 10px 0 25px;
    margin: 0 0 10px;
    color: #363636;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px; }
  #layered_block_left #layered_form .layered_price .layered_filter_ul {
    padding: 15px 0 0; }
    #layered_block_left #layered_form .layered_price .layered_filter_ul label, #layered_block_left #layered_form .layered_price .layered_filter_ul #layered_price_range {
      text-transform: uppercase;
      margin: 0;
      font-weight: 400;
      font-size: 13px;
      color: #636363;
      letter-spacing: 2px; }
  #layered_block_left #layered_form .layered_filter_ul {
    overflow: hidden;
    padding: 0;
    max-height: inherit; }
    #layered_block_left #layered_form .layered_filter_ul li {
      padding: 14px 0;
      position: relative;
      width: 100%;
      clear: both;
      color: #636363;
      font-size: 13px;
      border-bottom: solid 1px #e5e5e5; }
      #layered_block_left #layered_form .layered_filter_ul li:last-child {
        border-bottom: none; }
      #layered_block_left #layered_form .layered_filter_ul li label {
        margin: 0;
        font-weight: 400;
        vertical-align: middle;
        position: relative;
        z-index: 2;
        padding: 0; }
    #layered_block_left #layered_form .layered_filter_ul.color-group {
      width: 110%;
      padding-top: 15px; }
      #layered_block_left #layered_form .layered_filter_ul.color-group li {
        float: left;
        width: auto;
        padding: 0;
        border: none;
        clear: none;
        margin: 0 21px 21px 0; }
        #layered_block_left #layered_form .layered_filter_ul.color-group li .layered_color {
          display: none; }
  #layered_block_left #layered_form ul li input.checkbox {
    opacity: 0;
    top: 100% !important; }
  #layered_block_left #layered_form div.checker {
    height: 14px;
    width: 14px;
    border: solid 1px #e6e6e6;
    padding: 1px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    margin: 0;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 10px;
    display: none; }
    #layered_block_left #layered_form div.checker span {
      background: #fff;
      top: 1px;
      height: 10px;
      position: absolute;
      width: 10px;
      left: 1px; }
  #layered_block_left #layered_form .layered_slider_container {
    margin: 20px 6px; }
  #layered_block_left #layered_form .ui-slider-horizontal {
    height: 4px;
    background: #acacac;
    border-radius: 0;
    border: none;
    position: relative; }
  #layered_block_left #layered_form .ui-widget-header {
    height: 4px;
    border: none;
    position: absolute; }
  #layered_block_left #layered_form .ui-state-default, #layered_block_left #layered_form .ui-widget-content .ui-state-default, #layered_block_left #layered_form .ui-widget-header .ui-state-default {
    height: 16px;
    width: 16px;
    border: solid 2px #fff;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -6px; }

@media (max-width: 1199px) {
  .layered_slider_container {
    width: 92%; } }
@media (max-width: 767px) {
  #layered_block_left.block .title_block {
    display: block; } }
