#languages-block-top {
  padding: 23px 30px;
  overflow: hidden; }
  #languages-block-top ul li {
    padding: 7px 0;
    float: left;
    margin: 0 10px 0 0; }
    #languages-block-top ul li img {
      opacity: 0.35;
      border-radius: 3px; }
    #languages-block-top ul li:hover img {
      opacity: 1; }
    #languages-block-top ul li.selected img {
      opacity: 1; }
  #languages-block-top label {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    padding-bottom: 7px;
    font-size: 14px; }

#languages-block-mobile {
  display: inline-block;
  position: relative;
  float: left; }
  #languages-block-mobile div.current {
    padding: 15px;
    cursor: pointer;
    margin: 0; }
    #languages-block-mobile div.current span {
      padding: 0 15px 0 2px;
      color: #666666;
      font-size: 12px; }
    #languages-block-mobile div.current img {
      width: 14px; }
    #languages-block-mobile div.current:after {
      content: "\f107";
      font-family: FontAwesome;
      font-size: 12px;
      position: absolute;
      top: 14px;
      right: 15px;
      color: #666; }
  #languages-block-mobile ul {
    display: none;
    position: absolute;
    width: 90%;
    padding: 5px;
    background: #fff;
    left: 15px;
    top: 100%;
    box-shadow: 0 0 2px #999;
    z-index: 3; }
    #languages-block-mobile ul li a, #languages-block-mobile ul li > span {
      padding: 0;
      display: block;
      line-height: 24px;
      font-size: 12px; }
      #languages-block-mobile ul li a img, #languages-block-mobile ul li > span img {
        margin: -2px 3px 0;
        width: 14px; }

.rtl #languages-block-mobile {
  float: right; }
  .rtl #languages-block-mobile div.current span {
    padding: 0 2px 0 15px; }
  .rtl #languages-block-mobile div.current:after {
    right: auto;
    left: 15px; }
  .rtl #languages-block-mobile ul {
    left: auto;
    right: 15px; }
