/*******************************************************************
	SP Cart Block Styles
********************************************************************/
#header-cart {
  position: inherit; }

.blockcart {
  float: right;
  margin: 0 0 0 20px; }

.shopping_cart > a:first-child {
  position: relative; }

.shopping_cart > a:first-child span.icon {
  font-size: 16px;
  padding: 0 10px; }

.shopping_cart > a:first-child span.ajax_cart_quantity {
  height: 15px;
  width: 15px;
  display: block;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: -9px;
  right: 5px;
  z-index: 2;
  font-weight: 600; }

.shopping_cart > a:first-child span.ajax_cart_empty {
  height: 15px;
  width: 15px;
  display: none;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: -9px;
  right: 5px;
  z-index: 1;
  font-weight: 600; }

.shopping_cart .ajax_cart_no_product {
  padding: 0px; }

.shopping_cart .block_cart_expand:after, .shopping_cart .block_cart_collapse:after {
  content: "\f0d7";
  font-family: "FontAwesome";
  display: inline-block;
  float: right;
  font-size: 18px;
  color: #686666;
  padding: 6px 0 0 0; }

.shopping_cart .block_cart_collapse:after {
  content: "\f0d8";
  padding: 4px 0px 2px 0px; }

.cart_block {
  border: none; }

.cart_block .block_content {
  padding-bottom: 0px; }

.cart_block .cart_block_list .remove_link {
  position: absolute;
  right: 0;
  top: 10px;
  padding: 0px; }

.cart_block .cart-images {
  float: left;
  display: block;
  margin-right: 20px;
  transition: 0.3s all ease 0s;
  -webkit-transition: 0.3s all ease 0s; }

.cart_block .cart-info {
  overflow: hidden;
  position: relative; }

.cart_block .cart-info .product-name {
  padding: 0 0 5px;
  display: block;
  margin: 0; }

.cart_block .cart-info .product-name a {
  line-height: 18px;
  display: block;
  font-weight: 400;
  color: #545454;
  font-size: 12px;
  text-transform: uppercase; }

.cart_block .cart-info .quantity-formated {
  display: block;
  color: #919191;
  margin: 0px;
  height: 32px;
  width: 32px;
  line-height: 31px;
  font-size: 13px;
  text-align: center;
  border: solid 1px #e7e7e7; }

.cart_block .cart-info .comments_note {
  margin-bottom: 5px;
  min-height: 20px; }

.cart_block .cart-info .comments_note .star_content {
  display: inline-block;
  vertical-align: middle; }

.cart_block .cart-info .comments_note .nb-comments {
  font-size: 11px;
  color: #999;
  padding: 0 5px;
  display: none; }

.cart_block .cart-info .price {
  font-size: 14px;
  color: #383838;
  display: block;
  padding-bottom: 10px; }

.cart_block .cart-info #product_comments_block_extra {
  display: none; }

.cart_block dl.products {
  margin: 0; }

.cart_block dt {
  font-weight: normal;
  overflow: hidden;
  position: relative;
  padding: 15px 0px 35px;
  border-top: solid 1px #e9e9e9; }

.cart_block dt.first_item {
  border: none; }

.cart_block dd {
  position: relative; }

.cart_block dd .cart_block_customizations {
  border-top: 1px dashed #333; }

.cart_block dd .cart_block_customizations li {
  padding: 10px 20px; }

.cart_block dd .cart_block_customizations li .deleteCustomizableProduct {
  position: absolute;
  right: 10px; }

.cart_block .cart_block_no_products {
  margin: 0;
  padding: 0 0 10px;
  color: #666; }

.cart_block .cart_block_no_products.unvisible {
  display: none; }

.cart_block .cart-prices {
  padding: 15px 0 0;
  margin: 0; }

.cart_block .cart-prices .cart-prices-line {
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  padding: 7px 20px;
  background: #fff; }

.cart_block .cart-prices .cart-prices-line span {
  font-size: 16px;
  display: inline-block;
  text-transform: uppercase; }

.cart_block .buttons {
  padding: 0;
  border: none;
  font-size: 0;
  text-align: center; }

.cart_block .buttons a {
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  padding: 0px;
  width: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-weight: 600;
  margin: 0; }

.cart_block .price-total {
  padding: 0 0 15px;
  overflow: hidden; }

.cart_block .price-total span {
  font-size: 14px;
  display: inline-block;
  color: #666;
  float: left;
  font-weight: 300; }

.cart_block .price-total span.price {
  font-size: 16px;
  float: right;
  font-weight: 600; }

.cart_block .list-products {
  overflow: auto;
  max-height: 323px;
  margin: 0;
  border-bottom: solid 1px #e9e9e9; }

/*******************************************************************
					Cart Block(Header) Styles
********************************************************************/
.shopping_cart {
  position: relative; }

.shopping_cart .cart_block {
  position: absolute;
  top: 60px;
  right: 0;
  margin: 0;
  z-index: 9;
  height: auto;
  background: #fff;
  width: 350px;
  padding: 27px 30px 30px;
  box-shadow: 0 2px 2px #ccc;
  transition: visibility 0s linear 0.2s,opacity 0.2s linear,max-height 0.2s ease-in-out;
  -webkit-transition: visibility 0s linear 0.2s,opacity 0.2s linear,max-height 0.2s ease-in-out;
  visibility: hidden;
  opacity: 0;
  display: block !important; }

.shopping_cart:hover .cart_block {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
  white-space: nowrap; }

.shopping_cart .cart_block:before {
  content: "";
  width: 100%;
  height: 40px;
  background: transparent;
  display: block;
  position: absolute;
  left: 0;
  top: -40px; }

.shopping_cart .cart_block .block_content {
  padding: 0;
  border: none; }

.shopping_cart .cart_block .block_content .counts {
  height: 38px;
  border-bottom: solid 1px #ddd;
  text-align: center;
  padding-top: 10px;
  color: #666; }

.shopping_cart .cart_block .block_content .counts p {
  color: #aaa;
  margin: 0; }

.shopping_cart .cart_block .cart_block_list .remove_link a,
.shopping_cart .cart_block .cart_block_list .ajax_cart_block_remove_link {
  outline: none;
  color: #999;
  text-decoration: none; }

.shopping_cart .cart_block .product-atributes {
  padding: 0px;
  font-size: 13px; }

.shopping_cart .cart_block .product-atributes a {
  color: #666; }

.shopping_cart .block_content {
  margin-bottom: 0; }

.cart_block #cart_block_summary,
.cart_block .title_block span,
.shopping_cart .cart_block h4,
.shopping_cart .cart_block .title_block,
.shopping_cart .cart_block h4 {
  display: none; }

.cart_block .cart_block_shipping_cost,
.cart_block .cart_block_tax_cost,
.cart_block .cart_block_total,
.cart_block .cart_block_wrapping_cost {
  float: right; }

.cart_block table.vouchers {
  clear: both;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px; }

.cart_block table.vouchers tr td {
  padding: 2px; }

.cart_block table.vouchers tr td.quantity {
  margin-right: 5px;
  min-width: 18px; }

.cart_block table.vouchers tr td.delete {
  padding-left: 0;
  padding-right: 0;
  text-align: right;
  width: 15px; }

.shopping_cart .cart_block .block_content .recent_items, .shopping_cart .cart_block .block_content .cart_block_no_products {
  margin: 0;
  padding-bottom: 10px; }

.cart_block_no_products {
  display: none; }

/*****************************************************************************
					Layer Cart Css
*****************************************************************************/
.layer_cart_overlay {
  background-color: #000;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
  opacity: 0.2;
  filter: alpha(opacity=20); }

* html .layer_cart_overlay {
  position: absolute;
  left: 0;
  margin-left: -160px;
  opacity: 0.2;
  filter: alpha(opacity=20); }

#layer_cart {
  background-color: #fff;
  position: absolute;
  display: none;
  z-index: 100;
  width: 32%;
  left: 34%;
  text-align: center;
  padding: 15px;
  border-radius: 5px; }

#pro_added_success {
  margin-bottom: 15px;
  font-weight: 400; }

#layer_cart .layer_cart_img {
  display: block;
  text-align: center; }

#layer_cart .layer_cart_img img {
  display: inline-block;
  background: #f4f4f4; }

.layer_product_info {
  margin-bottom: 15px; }

#layer_cart_product_title {
  margin: 10px 0 5px;
  font-weight: bold;
  font-size: 18px; }

#layer_cart .layer_cart_product {
  padding: 10px 30px 30px 30px;
  overflow: hidden;
  position: static; }

#layer_cart .layer_cart_product h2 {
  font: 400 22px/29px "Arial", Helvetica, sans-serif;
  color: #46a74e;
  margin-bottom: 22px; }

#layer_cart .layer_cart_product h2 i {
  font-size: 30px;
  line-height: 30px;
  float: left;
  padding-right: 8px; }

#layer_cart .layer_cart_product .product-image-container {
  max-width: 178px;
  border: 1px solid #e6e6e6;
  padding: 5px;
  float: left;
  margin-right: 30px; }

#layer_cart .layer_cart_product .layer_cart_product_info {
  padding: 0;
  font-size: 14px; }

#layer_cart .layer_cart_product .layer_cart_product_info #layer_cart_product_title {
  display: block;
  padding-bottom: 8px;
  font-size: 16px; }

#layer_cart .layer_cart_product .layer_cart_product_info > div {
  padding-bottom: 7px; }

#layer_cart .layer_cart_product .layer_cart_product_info > div strong {
  padding-right: 3px; }

#layer_cart .layer_cart_cart {
  background: #fafafa;
  border-left: 1px solid #e6e6e6;
  padding: 10px 30px 212px 30px;
  border-radius: 0px 4px 4px 0px;
  position: relative; }

#layer_cart .layer_cart_cart h2 {
  font: 400 22px/29px "Arial", Helvetica, sans-serif;
  color: #333;
  margin-bottom: 50px; }

#layer_cart .layer_cart_cart .layer_cart_row {
  padding: 0 0 7px 0;
  font-size: 14px; }

#layer_cart .layer_cart_cart .button-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0px 30px 20px 30px; }

#layer_cart .layer_cart_cart .button-container .btn {
  margin-bottom: 10px; }

#layer_cart .layer_cart_cart .button-container span.exclusive-medium {
  margin-right: 5px; }

#layer_cart .layer_cart_cart .button-container span.exclusive-medium .fa {
  margin: 0px 5px; }

#layer_cart .cross {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: #333;
  z-index: 2;
  background: #fff;
  border-radius: 50%; }

#layer_cart .cross:before {
  content: "\f057";
  display: block;
  font-family: "FontAwesome";
  font-size: 25px;
  line-height: 25px; }

#layer_cart .cross:hover {
  color: #f3734f; }

#layer_cart .continue {
  cursor: pointer; }

#layer_cart p {
  padding: 0px; }

/************************************************************************
						Layer Cart Caroucel
*************************************************************************/
#layer_cart .crossseling .crossseling-content {
  border-top: 1px solid #e6e6e6;
  padding: 26px 30px 40px 30px;
  position: relative; }

#layer_cart .crossseling h2 {
  font: 400 23px/26px "Arial", Helvetica, sans-serif;
  color: #333;
  margin-bottom: 25px; }

#layer_cart .crossseling #blockcart_list {
  max-width: 773px;
  width: 84%;
  margin: 0 auto;
  overflow: hidden; }

#layer_cart .crossseling #blockcart_list ul {
  display: block; }

#layer_cart .crossseling #blockcart_list ul li {
  float: left;
  width: 178px;
  margin: 0 0px 0 0; }

#layer_cart .crossseling #blockcart_list ul li .product-image-container {
  border: 1px solid #e6e6e6;
  text-align: center;
  padding: 5px;
  margin-bottom: 15px; }

#layer_cart .crossseling #blockcart_list ul li .product-image-container img {
  width: 100%; }

#layer_cart .crossseling #blockcart_list ul li .product-name {
  padding-bottom: 5px; }

#layer_cart .crossseling #blockcart_list ul li .product-name a {
  font-size: 15px;
  line-height: 20px; }

#layer_cart .crossseling #blockcart_list a.bx-prev,
#layer_cart .crossseling #blockcart_list a.bx-next {
  display: block;
  font-family: "FontAwesome";
  font-size: 20px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  color: #333;
  text-indent: -5000px;
  position: absolute;
  top: 45%;
  margin-top: -20px; }

#layer_cart .crossseling #blockcart_list a.bx-prev:after,
#layer_cart .crossseling #blockcart_list a.bx-next:after {
  display: block;
  text-indent: 0; }

#layer_cart .crossseling #blockcart_list a.bx-prev:hover,
#layer_cart .crossseling #blockcart_list a.bx-next:hover {
  color: #c0c0c0; }

#layer_cart .crossseling #blockcart_list a.bx-prev.disabled,
#layer_cart .crossseling #blockcart_list a.bx-next.disabled {
  display: none; }

#layer_cart .crossseling #blockcart_list a.bx-prev {
  left: 5%; }

#layer_cart .crossseling #blockcart_list a.bx-prev:after {
  content: "\f137"; }

#layer_cart .crossseling #blockcart_list a.bx-next {
  right: 5%; }

#layer_cart .crossseling #blockcart_list a.bx-next:after {
  content: "\f138"; }

#layer_cart .crossseling #blockcart_list .bx-controls {
  overflow: hidden; }

.layer_details .button-container {
  margin-top: 15px; }

@media (min-width: 992px) and (max-width: 1199px) {
  #layer_cart {
    width: 40%;
    left: 30%; } }
@media (min-width: 767px) and (max-width: 991px) {
  #layer_cart {
    width: 50%;
    left: 25%; } }
@media (max-width: 767px) {
  #layer_cart {
    width: 66%;
    left: 17%; } }
@media (max-width: 480px) {
  #layer_cart {
    width: 90%;
    left: 5%; }

  #layer_cart .continue {
    width: 100%;
    margin-bottom: 15px; }

  #layer_cart .button-container .button {
    width: 100%; } }
@media (max-width: 767px) {
  .blockcart {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    bottom: 1px;
    margin: 0; }

  .shopping_cart:hover > a:first-child span.icon {
    color: #fff; }
  .shopping_cart > a:first-child {
    line-height: 50px;
    color: #fff;
    color: #636363;
    text-align: center;
    display: block; }
    .shopping_cart > a:first-child span.ajax_cart_quantity, .shopping_cart > a:first-child span.ajax_cart_empty {
      top: -7px;
      right: 16px; }
  .shopping_cart .cart_block {
    top: 51px;
    width: 320px;
    padding: 17px 20px 20px; }
    .shopping_cart .cart_block:before {
      height: 3px;
      top: -3px; }

  .rtl .blockcart {
    margin: 0;
    right: auto;
    left: 0; }
  .rtl .shopping_cart > a:first-child span.ajax_cart_quantity, .rtl .shopping_cart > a:first-child span.ajax_cart_empty {
    top: -7px;
    right: 16px; } }
