.sp-extraslider {
  position: relative; }
  .sp-extraslider .owl-carousel .owl-item {
    opacity: 1 !important; }
  .sp-extraslider .extraslider-inner {
    direction: ltr; }

div.hot_products {
  background: #fff;
  padding-top: 90px;
  margin-top: -80px;
  position: relative;
  z-index: 2; }
  div.hot_products h3.title_block {
    color: #363636;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0;
    text-align: center;
    padding: 0;
    border: none;
    margin: 0; }
  div.hot_products h4.subtitle {
    text-align: center;
    margin: 20px 0; }
    div.hot_products h4.subtitle span {
      display: inline-block;
      width: 80px;
      height: 30px;
      background-image: url(../../../../../img/icon/subtitle.png);
      background-repeat: no-repeat;
      background-position: 0px 0px; }
  div.hot_products .product_list {
    padding-top: 40px; }
  div.hot_products .owl-controls .owl-prev, div.hot_products .owl-controls .owl-next {
    color: #acacac;
    font-size: 30px;
    position: absolute;
    z-index: 2;
    top: 35%;
    cursor: pointer; }
  div.hot_products .owl-controls .owl-prev {
    left: -30px; }
  div.hot_products .owl-controls .owl-next {
    right: -30px; }

.content-v3 div.hot_products {
  margin-top: 0; }

div.featured_products {
  background: #fff;
  position: relative;
  z-index: 2;
  padding-top: 40px; }
  div.featured_products h3.title_block {
    color: #363636;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0;
    text-align: center;
    padding: 0;
    border: none;
    margin: 0; }
  div.featured_products h4.subtitle {
    text-align: center;
    margin: 20px 0 60px; }
    div.featured_products h4.subtitle span {
      display: inline-block;
      width: 80px;
      height: 30px;
      background-image: url(../../../../../img/icon/subtitle.png);
      background-repeat: no-repeat;
      background-position: 0px 0px; }
  div.featured_products .owl-controls .owl-prev, div.featured_products .owl-controls .owl-next {
    color: #acacac;
    font-size: 30px;
    position: absolute;
    z-index: 2;
    top: 35%;
    cursor: pointer; }
  div.featured_products .owl-controls .owl-prev {
    left: -30px; }
  div.featured_products .owl-controls .owl-next {
    right: -30px; }
  div.featured_products .product_list.grid .product-container {
    text-align: left;
    overflow: hidden;
    margin: 0 0 60px; }
    div.featured_products .product_list.grid .product-container .left-block {
      float: left;
      margin: 0 30px 0 0;
      width: 200px; }
    div.featured_products .product_list.grid .product-container .right-block {
      z-index: inherit;
      padding: 0; }
      div.featured_products .product_list.grid .product-container .right-block h5.product-name {
        margin-bottom: 7px; }
      div.featured_products .product_list.grid .product-container .right-block .comments_note {
        margin-bottom: 10px; }
      div.featured_products .product_list.grid .product-container .right-block .price-box {
        min-height: inherit;
        margin-bottom: 15px; }
        div.featured_products .product_list.grid .product-container .right-block .price-box .price, div.featured_products .product_list.grid .product-container .right-block .price-box .old-price {
          display: inline-block;
          vertical-align: middle; }
      div.featured_products .product_list.grid .product-container .right-block .item-des {
        font-size: 12px;
        color: #363636;
        line-height: 24px;
        margin-bottom: 15px; }
      div.featured_products .product_list.grid .product-container .right-block .button-container {
        display: block;
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto; }
        div.featured_products .product_list.grid .product-container .right-block .button-container .cart_button {
          width: auto;
          padding: 0 30px; }
        div.featured_products .product_list.grid .product-container .right-block .button-container .addToWishlist, div.featured_products .product_list.grid .product-container .right-block .button-container .cart_button, div.featured_products .product_list.grid .product-container .right-block .button-container .add_to_compare, div.featured_products .product_list.grid .product-container .right-block .button-container .quick-view {
          background: #f4f8fb;
          color: #363636;
          border-color: #fff; }

div.product_cat {
  padding-top: 80px; }
  div.product_cat h3.title_block {
    padding: 0;
    border: none;
    font-size: 18px;
    margin-bottom: 40px;
    font-weight: 700; }
  div.product_cat .item-wrap {
    margin-bottom: 30px;
    overflow: hidden; }
    div.product_cat .item-wrap .item-image {
      float: left;
      margin: 0 20px 0 0;
      width: 80px; }
    div.product_cat .item-wrap .item-info .item-title {
      margin-bottom: 5px; }
    div.product_cat .item-wrap .item-info .comments_note {
      margin-bottom: 10px; }
      div.product_cat .item-wrap .item-info .comments_note .nb-comments {
        display: none; }
    div.product_cat .item-wrap .item-info .price-box .price {
      font-size: 22px;
      color: #363636;
      font-weight: 500;
      letter-spacing: 3px;
      vertical-align: middle; }
    div.product_cat .item-wrap .item-info .price-box .old-price {
      text-decoration: line-through; }

@media (min-width: 992px) and (max-width: 1199px) {
  div.product_cat .item-wrap .item-image {
    width: 70px; }
  div.product_cat .item-wrap .item-info .price-box .price {
    font-size: 16px; }
  div.product_cat .item-wrap .item-info .price-box .old-price {
    letter-spacing: 0;
    font-size: 12px; } }
@media (min-width: 767px) and (max-width: 991px) {
  div.hot_products .owl-controls .owl-prev {
    left: -15px; }
  div.hot_products .owl-controls .owl-next {
    right: -15px; }

  .ps-spotlight13 {
    padding-top: 80px; }

  div.product_cat {
    padding-top: 0; }

  div.featured_products .product_list.grid .product-container .left-block {
    float: none;
    margin: 0 0 20px;
    display: inline-block;
    width: auto; }

  .rtl div.featured_products .product_list.grid .product-container .left-block {
    float: none;
    margin: 0 0 20px; } }
@media (max-width: 767px) {
  div.hot_products {
    margin-top: 0; }
    div.hot_products .owl-controls .owl-prev {
      left: 0; }
    div.hot_products .owl-controls .owl-next {
      right: 0; }

  div.featured_products .product_list.grid .product-container .left-block {
    width: 100%;
    margin: 0 0 20px; }

  .ps-spotlight13 {
    padding-top: 80px; }

  div.product_cat {
    padding-top: 0; }

  .rtl div.featured_products .product_list.grid .product-container .left-block {
    margin: 0 0 20px; } }
@media (max-width: 767px) {
  div.featured_products {
    margin: 0; }
    div.featured_products h3.title_block {
      font-size: 24px; } }
