.sp-deal .preset02-1 .vpo-wrap {
  width: 100%;
  margin: 0; }

.sp-deal .preset02-1 .vpo-wrap .vp {
  margin-right: 0; }

.sp-deal .preset02-1 .vpo-wrap .vp .item {
  float: left;
  margin: 0;
  width: 100%; }

.sp-deal .preset02-2 .vpo-wrap {
  width: 50%;
  margin: 0 -50% 0 0; }

.sp-deal .preset02-2 .vpo-wrap .vp {
  margin-right: -100%; }

.sp-deal .preset02-2 .vpo-wrap .vp .item {
  float: left;
  margin: 0;
  width: 50%; }

.sp-deal .preset02-3 .vpo-wrap {
  width: 33.3333%;
  margin: 0 -66.6666% 0 0; }

.sp-deal .preset02-3 .vpo-wrap .vp {
  margin-right: -200%; }

.sp-deal .preset02-3 .vpo-wrap .vp .item {
  float: left;
  margin: 0;
  width: 33.3333%; }

.sp-deal .preset02-4 .vpo-wrap {
  width: 25%;
  margin: 0 -75% 0 0; }

.sp-deal .preset02-4 .vpo-wrap .vp {
  margin-right: -300%; }

.sp-deal .preset02-4 .vpo-wrap .vp .item {
  float: left;
  margin: 0;
  width: 25%; }

.sp-deal .preset02-5 .vpo-wrap {
  width: 20%;
  margin: 0 -80% 0 0; }

.sp-deal .preset02-5 .vpo-wrap .vp {
  margin-right: -400%; }

.sp-deal .preset02-5 .vpo-wrap .vp .item {
  float: left;
  margin: 0;
  width: 20%; }

.sp-deal .preset02-6 .vpo-wrap {
  width: 16.6666%;
  margin: 0 -83.3333% 0 0; }

.sp-deal .preset02-6 .vpo-wrap .vp {
  margin-right: -500%; }

.sp-deal .preset02-6 .vpo-wrap .vp .item {
  float: left;
  margin: 0;
  width: 16.6666%; }

.sp-deal .quick-view-wrapper-mobile {
  display: none; }

@media all and (max-width: 320px) {
  .sp-deal .quick-view-wrapper-mobile {
    display: block; }

  .sp-deal .preset05-1 .vpo-wrap {
    width: 100%;
    margin: 0; }

  .sp-deal .preset05-1 .vpo-wrap .vp {
    margin-right: 0; }

  .sp-deal .preset05-1 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 100%; }

  .sp-deal .preset05-2 .vpo-wrap {
    width: 50%;
    margin: 0 -50% 0 0; }

  .sp-deal .preset05-2 .vpo-wrap .vp {
    margin-right: -100%; }

  .sp-deal .preset05-2 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 50%; }

  .sp-deal .preset05-3 .vpo-wrap {
    width: 33.3333%;
    margin: 0 -66.6666% 0 0; }

  .sp-deal .preset05-3 .vpo-wrap .vp {
    margin-right: -200%; }

  .sp-deal .preset05-3 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 33.3333%; }

  .sp-deal .preset05-4 .vpo-wrap {
    width: 25%;
    margin: 0 -75% 0 0; }

  .sp-deal .preset05-4 .vpo-wrap .vp {
    margin-right: -300%; }

  .sp-deal .preset05-4 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 25%; }

  .sp-deal .preset05-5 .vpo-wrap {
    width: 20%;
    margin: 0 -80% 0 0; }

  .sp-deal .preset05-5 .vpo-wrap .vp {
    margin-right: -400%; }

  .sp-deal .preset05-5 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 20%; }

  .sp-deal .preset05-6 .vpo-wrap {
    width: 16.6666%;
    margin: 0 -83.3333% 0 0; }

  .sp-deal .preset05-6 .vpo-wrap .vp {
    margin-right: -500%; }

  .sp-deal .preset05-6 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 16.6666%; } }
@media all and (max-width: 479px) {
  .sp-deal .quick-view-wrapper-mobile {
    display: block; }

  .sp-deal .preset04-1 .vpo-wrap {
    width: 100%;
    margin: 0; }

  .sp-deal .preset04-1 .vpo-wrap .vp {
    margin-right: 0; }

  .sp-deal .preset04-1 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 100%; }

  .sp-deal .preset04-2 .vpo-wrap {
    width: 50%;
    margin: 0 -50% 0 0; }

  .sp-deal .preset04-2 .vpo-wrap .vp {
    margin-right: -100%; }

  .sp-deal .preset04-2 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 50%; }

  .sp-deal .preset04-3 .vpo-wrap {
    width: 33.3333%;
    margin: 0 -66.6666% 0 0; }

  .sp-deal .preset04-3 .vpo-wrap .vp {
    margin-right: -200%; }

  .sp-deal .preset04-3 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 33.3333%; }

  .sp-deal .preset04-4 .vpo-wrap {
    width: 25%;
    margin: 0 -75% 0 0; }

  .sp-deal .preset04-4 .vpo-wrap .vp {
    margin-right: -300%; }

  .sp-deal .preset04-4 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 25%; }

  .sp-deal .preset04-5 .vpo-wrap {
    width: 20%;
    margin: 0 -80% 0 0; }

  .sp-deal .preset04-5 .vpo-wrap .vp {
    margin-right: -400%; }

  .sp-deal .preset04-5 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 20%; }

  .sp-deal .preset04-6 .vpo-wrap {
    width: 16.6666%;
    margin: 0 -83.3333% 0 0; }

  .sp-deal .preset04-6 .vpo-wrap .vp {
    margin-right: -500%; }

  .sp-deal .preset04-6 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 16.6666%; } }
@media all and (min-width: 480px) and (max-width: 767px) {
  .sp-deal .quick-view-wrapper-mobile {
    display: block; }

  .sp-deal .preset03-1 .vpo-wrap {
    width: 100%;
    margin: 0; }

  .sp-deal .preset03-1 .vpo-wrap .vp {
    margin-right: 0; }

  .sp-deal .preset03-1 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 100%; }

  .sp-deal .preset03-2 .vpo-wrap {
    width: 50%;
    margin: 0 -50% 0 0; }

  .sp-deal .preset03-2 .vpo-wrap .vp {
    margin-right: -100%; }

  .sp-deal .preset03-2 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 50%; }

  .sp-deal .preset03-3 .vpo-wrap {
    width: 33.3333%;
    margin: 0 -66.6666% 0 0; }

  .sp-deal .preset03-3 .vpo-wrap .vp {
    margin-right: -200%; }

  .sp-deal .preset03-3 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 33.3333%; }

  .sp-deal .preset03-4 .vpo-wrap {
    width: 25%;
    margin: 0 -75% 0 0; }

  .sp-deal .preset03-4 .vpo-wrap .vp {
    margin-right: -300%; }

  .sp-deal .preset03-4 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 25%; }

  .sp-deal .preset03-5 .vpo-wrap {
    width: 20%;
    margin: 0 -80% 0 0; }

  .sp-deal .preset03-5 .vpo-wrap .vp {
    margin-right: -400%; }

  .sp-deal .preset03-5 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 20%; }

  .sp-deal .preset03-6 .vpo-wrap {
    width: 16.6666%;
    margin: 0 -83.3333% 0 0; }

  .sp-deal .preset03-6 .vpo-wrap .vp {
    margin-right: -500%; }

  .sp-deal .preset03-6 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 16.6666%; } }
@media all and (min-width: 780px) and (max-width: 1199px) {
  .sp-deal .preset02-1 .vpo-wrap {
    width: 100%;
    margin: 0; }

  .sp-deal .preset02-1 .vpo-wrap .vp {
    margin-right: 0; }

  .sp-deal .preset02-1 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 100%; }

  .sp-deal .preset02-2 .vpo-wrap {
    width: 50%;
    margin: 0 -50% 0 0; }

  .sp-deal .preset02-2 .vpo-wrap .vp {
    margin-right: -100%; }

  .sp-deal .preset02-2 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 50%; }

  .sp-deal .preset02-3 .vpo-wrap {
    width: 33.3333%;
    margin: 0 -66.6666% 0 0; }

  .sp-deal .preset02-3 .vpo-wrap .vp {
    margin-right: -200%; }

  .sp-deal .preset02-3 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 33.3333%; }

  .sp-deal .preset02-4 .vpo-wrap {
    width: 25%;
    margin: 0 -75% 0 0; }

  .sp-deal .preset02-4 .vpo-wrap .vp {
    margin-right: -300%; }

  .sp-deal .preset02-4 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 25%; }

  .sp-deal .preset02-5 .vpo-wrap {
    width: 20%;
    margin: 0 -80% 0 0; }

  .sp-deal .preset02-5 .vpo-wrap .vp {
    margin-right: -400%; }

  .sp-deal .preset02-5 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 20%; }

  .sp-deal .preset02-6 .vpo-wrap {
    width: 16.6666%;
    margin: 0 -83.3333% 0 0; }

  .sp-deal .preset02-6 .vpo-wrap .vp {
    margin-right: -500%; }

  .sp-deal .preset02-6 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 16.6666%; } }
@media all and (min-width: 1200px) {
  .sp-deal .preset01-1 .vpo-wrap {
    width: 100%;
    margin: 0; }

  .sp-deal .preset01-1 .vpo-wrap .vp {
    margin-right: 0; }

  .sp-deal .preset01-1 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 100%; }

  .sp-deal .preset01-2 .vpo-wrap {
    width: 50%;
    margin: 0 -50% 0 0; }

  .sp-deal .preset01-2 .vpo-wrap .vp {
    margin-right: -100%; }

  .sp-deal .preset01-2 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 50%; }

  .sp-deal .preset01-3 .vpo-wrap {
    width: 33.3333%;
    margin: 0 -66.6666% 0 0; }

  .sp-deal .preset01-3 .vpo-wrap .vp {
    margin-right: -200%; }

  .sp-deal .preset01-3 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 33.3333%; }

  .sp-deal .preset01-4 .vpo-wrap {
    width: 25%;
    margin: 0 -75% 0 0; }

  .sp-deal .preset01-4 .vpo-wrap .vp {
    margin-right: -300%; }

  .sp-deal .preset01-4 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 25%; }

  .sp-deal .preset01-5 .vpo-wrap {
    width: 20%;
    margin: 0 -80% 0 0; }

  .sp-deal .preset01-5 .vpo-wrap .vp {
    margin-right: -400%; }

  .sp-deal .preset01-5 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 20%; }

  .sp-deal .preset01-6 .vpo-wrap {
    width: 16.6666%;
    margin: 0 -83.3333% 0 0; }

  .sp-deal .preset01-6 .vpo-wrap .vp {
    margin-right: -500%; }

  .sp-deal .preset01-6 .vpo-wrap .vp .item {
    float: left;
    margin: 0;
    width: 16.6666%; } }
/*################################# End css Device #############################################*/
.sp-deal {
  position: relative; }

.sp-deal.sp-preload {
  height: 300px;
  position: relative;
  overflow: hidden; }

.sp-deal.sp-preload .sp-loading {
  position: absolute;
  z-index: 10;
  background: url(../img/loading.gif) no-repeat scroll center center #FFF;
  top: 0;
  bottom: 0;
  width: 100%; }

.sp-deal .slider {
  overflow: hidden;
  position: relative;
  margin: 0;
  z-index: 8; }

.sp-deal .slider .item {
  background-size: 100% 100%; }

.sp-deal .slider .item img {
  width: 100%;
  vertical-align: middle; }

.sp-deal .slider .item img:hover {
  cursor: pointer; }

.sp-deal .slider .vpo-wrap .vp {
  position: relative;
  overflow: hidden;
  height: auto; }

.sp-deal .slider .vpo-wrap .vp .vpi-wrap {
  white-space: nowrap;
  font-size: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.sp-deal .slider .vpo-wrap .vp .item {
  margin: 0;
  display: inline-block;
  font-size: medium;
  white-space: normal;
  vertical-align: top;
  float: none;
  overflow: hidden;
  padding: 0 15px; }

.sp-deal .slider .vpo-wrap .vpi-wrap:after {
  display: block;
  height: 0;
  line-height: 0;
  content: '';
  clear: both; }

.sp-deal .not-js .vpo-wrap,
.sp-deal .not-js .vpo-wrap .vp,
.sp-deal .not-js .vpo-wrap .vp .vpi-wrap,
.sp-deal .not-js .vpo-wrap .vp .item {
  position: static; }

.sp-deal .not-js .vpo-wrap .vp .item {
  float: left; }

.sp-deal #to li a {
  outline: none; }

/*#################################################### css for hearder #############################################*/
.page-title-slider {
  color: #2E2C2D;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  /* 	float: left; */
  overflow: hidden;
  width: 75%;
  margin: 10px 0 8px 0px; }

/*############################################### css for botton #################################################*/
.sp-deal .control-button {
  list-style: none outside none;
  margin-bottom: 0;
  margin-left: 0; }

.sp-deal .page-button .control-button {
  margin-bottom: 0px;
  height: 100%; }

.sp-deal .page-button.top,
.sp-deal .page-button.bottom {
  margin-right: 0px; }

.sp-deal .page-button.style2 .control-button .preview {
  background-position: -180px 0;
  width: 22px;
  height: 20px;
  right: 21px;
  z-index: 9; }

.sp-deal .page-button.style2 .control-button .next {
  background-position: -210px 0;
  width: 22px;
  height: 20px;
  z-index: 9; }

.sp-deal .page-button.style3 .control-button .preview {
  background-position: -60px 0;
  width: 14px;
  height: 21px;
  right: 15px;
  z-index: 9; }

.sp-deal .page-button.style3 .control-button .next {
  background-position: -90px 0;
  width: 12px;
  height: 21px;
  z-index: 9; }

.sp-deal .page-button .control-button .preview:hover,
.sp-deal .page-button .control-button .next:hover,
.sp-deal .page-button.style2 .control-button .preview:hover,
.sp-deal .page-button.style2 .control-button .next:hover {
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100); }

/*########################################## css for info item ############################################*/
.sp-deal .slider .vpo-wrap .vp .item .item-wrap {
  width: 100%;
  position: relative; }

.sp-deal .slider .vpo-wrap .vp .item .item-wrap .item-img {
  border: 1px solid #DDDDDD;
  padding: 9px;
  position: relative; }

.sp-deal .slider .vpo-wrap .vp .item .item-wrap .item-img:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0 0 13px;
  -moz-box-shadow: rgba(0, 0, 0, 0.17) 0 0 13px;
  -o-box-shadow: rgba(0, 0, 0, 0.17) 0 0 13px;
  box-shadow: rgba(0, 0, 0, 0.17) 0 0 13px; }

.sp-deal .slider .vpo-wrap .vp .item .item-wrap .item-info {
  margin-top: 10px;
  font-size: 14px; }

.sp-deal .slider .vpo-wrap .vp .item .item-wrap .item-info .item-title {
  margin-bottom: 5px;
  text-transform: uppercase; }

.sp-deal .slider .vpo-wrap .vp .item .item-wrap .item-info .item-content {
  margin: 0px; }

.sp-deal .slider .vpo-wrap .vp .item .item-wrap .item-info .item-content .item-des {
  margin-bottom: 5px; }

.sp-deal .slider .vpo-wrap .vp .item .item-wrap .item-info .item-content .item-details {
  text-align: right; }

/*css spotlight*/
.sp-deal .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px 0 10px 0;
  width: 100%; }

.sp-deal .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-inner {
  position: relative;
  padding: 8px 10px 0px 10px;
  overflow: hidden;
  margin-right: 10px;
  margin-left: 10px; }

.sp-deal .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-content,
.sp-deal .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-content a,
.sp-deal .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-title a,
.sp-deal .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-title {
  position: relative;
  color: white;
  z-index: 2; }

.sp-deal .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-content {
  padding-bottom: 2px;
  height: 0px;
  -webkit-transition: all 3s;
  -moz-transition: all 3s;
  -ms-transition: all 3s;
  -o-transition: all 3s;
  transition: all 3s; }

.sp-deal .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight:hover .item-content {
  height: auto; }

.sp-deal .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-bg {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #000;
  opacity: 0.7;
  filter: alpha(opacity=70);
  height: 100%;
  width: 100%;
  z-index: 1; }

.sp-deal .item-review {
  margin: 0 0 5px 0;
  line-height: 22px; }

.sp-deal .item-review .ratings .rating-links,
.sp-deal .item-review .ratings {
  margin: 0 0 0 0; }

.sp-deal .add-to-links {
  list-style: none outside none;
  margin: 0;
  padding: 0; }

.sp-deal .ratings .rating-box {
  margin-right: 5px; }

.sp-deal .item-review {
  vertical-align: middle;
  overflow: hidden; }

.sp-deal .item-btn-addtocart {
  margin-bottom: 5px; }

.sp-deal .wishlist {
  margin: 10px 0px; }

.sp-deal .compare {
  margin-bottom: 10px; }

.pretext-slider {
  margin: 10px 0px 10px 0px; }

.postext-slider {
  margin: 10px 0px 10px 0px; }

.sp-deal .control-button:after {
  clear: both; }

.sp-deal .control-button:before, .sp-deal .control-button:after {
  content: "";
  display: table; }

.sp-deal .compare,
.sp-deal .wishlist {
  margin: 5px 0 5px 0; }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.sp-deal .item-info .content_price {
  margin-bottom: 10px; }

.sp-deal .item-info.item-spotlight .price.product-price {
  line-height: 30px;
  color: #FFF; }

.sp-deal .item-info.item-spotlight .old-price {
  color: #DDD; }

.sp-deal a.quick-view:hover {
  cursor: pointer; }

.sp-deal a.quick-view {
  display: none;
  z-index: 2; }

.sp-deal .item-img:hover a.quick-view {
  cursor: pointer;
  display: block;
  text-align: center;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.82);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
  color: #777676;
  font: 700 13px/16px Arial, Helvetica, sans-serif;
  height: 43px;
  left: 50%;
  margin: -21px 0 0 -53px;
  padding: 13px 0 0;
  position: absolute;
  top: 50%;
  width: 107px;
  text-decoration: none; }

.sp-deal .quick-view-wrapper-mobile {
  background-color: transparent;
  bottom: 0;
  height: 155px;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 215px;
  z-index: 2; }

.sp-deal .quick-view-wrapper-mobile a {
  background-color: rgba(208, 208, 211, 0.57);
  display: block;
  height: 130px;
  pointer-events: all;
  position: relative;
  right: -162px;
  top: 80px;
  transform: rotate(45deg);
  width: 85px; }

.sp-deal .quick-view-wrapper-mobile a:hover {
  background-color: rgba(125, 125, 125, 0.57); }

.sp-deal .quick-view-wrapper-mobile a i {
  bottom: 0;
  color: black;
  display: inline-block;
  font-size: x-large;
  height: 22px;
  left: 9px;
  overflow: hidden;
  position: absolute;
  right: 10px;
  top: 46px;
  transform: rotate(-44deg);
  width: 30px;
  z-index: 2; }

.sp-deal .item .item-wrap:nth-child(2) {
  z-index: 1;
  visibility: hidden; }

.sp-deal .tt-effect-active .item .item-wrap {
  pointer-events: none; }

/* Individual grid effects */
/* Fall down / scale up */
.tt-effect-fall.tt-effect-active .item:not(.tt-empty) .item-wrap:first-child {
  -webkit-animation: fallDown 0.6s forwards;
  animation: fallDown 0.6s forwards; }

.tt-effect-fall.tt-effect-active .item .item-wrap:nth-child(2),
.tt-effect-fall.tt-effect-active .item.tt-empty .item-wrap {
  opacity: 0;
  -webkit-animation: scaleUpFadeIn 0.6s forwards;
  animation: scaleUpFadeIn 0.6s forwards; }

/* Slide and reveal 
.tt-effect-slide.tt-effect-active .item:not(.tt-empty) .item-wrap:first-child {
    z-index: 100;
    overflow: hidden;
    margin: 0;
    -webkit-animation: slideOut 0.5s forwards;
    animation: slideOut 0.5s forwards;
}

.tt-effect-slide.tt-effect-active .item-wrap:nth-child(2) {
    visibility: visible;
}

.tt-effect-slide.tt-effect-active .item:not(.tt-empty) .item-wrap:only-child {
    -webkit-animation: slideOut 0.5s forwards;
    animation: slideOut 0.5s forwards;
}

.tt-effect-slide.tt-effect-active .item.tt-empty .item-wrap {
    -webkit-animation: fadeIn 0.5s forwards;
    animation: fadeIn 0.5s forwards;
}
*/
/* Fall and rotate */
.tt-effect-fallrotate.tt-effect-active .item:not(.tt-empty) .item-wrap:first-child {
  z-index: 10;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-animation: fallRotate 0.6s ease-in forwards;
  animation: fallRotate 0.6s ease-in forwards; }

.tt-effect-fallrotate.tt-effect-active .item .item-wrap:nth-child(2),
.tt-effect-fallrotate.tt-effect-active .item.tt-empty .item-wrap {
  visibility: visible; }

.tt-effect-fallrotate.tt-effect-active .item.tt-empty .item-wrap {
  opacity: 0;
  -webkit-animation: fadeIn 0.6s forwards;
  animation: fadeIn 0.6s forwards; }

.tt-effect-fallrotate .item:nth-child(4) {
  z-index: 1; }

/* order for correct overlapping */
.tt-effect-fallrotate .item:nth-child(5) {
  z-index: 2; }

.tt-effect-fallrotate .item:nth-child(6) {
  z-index: 3; }

.tt-effect-fallrotate .item:first-child {
  z-index: 4; }

.tt-effect-fallrotate .item:nth-child(2) {
  z-index: 5; }

.tt-effect-fallrotate .item:nth-child(3) {
  z-index: 6; }

/* Scale and rotate */
.tt-effect-scalerotate.tt-effect-active .item:not(.tt-empty) .item-wrap:first-child {
  -webkit-animation: scaleRotateOut 0.6s forwards;
  animation: scaleRotateOut 0.6s forwards; }

.tt-effect-scalerotate.tt-effect-active .item .item-wrap:nth-child(2),
.tt-effect-scalerotate.tt-effect-active .item.tt-empty .item-wrap {
  opacity: 0;
  -webkit-animation: scaleRotateIn 0.6s forwards;
  animation: scaleRotateIn 0.6s forwards; }

.tt-effect-scalerotate.tt-effect-active .item:not(.tt-empty) .item-wrap:only-child {
  -webkit-animation: scaleRotateIn 0.6s forwards;
  animation: scaleRotateIn 0.6s forwards; }

.tt-effect-scalerotate .item:nth-child(-n+3) {
  z-index: 2; }

/* order for correct overlapping */
.tt-effect-scalerotate .item:nth-last-child(-n+3) {
  z-index: 1; }

/* Stack back 3D */
.tt-effect-stackback .item {
  -webkit-perspective: 1000px;
  perspective: 1000px; }

.tt-effect-stackback .item .item-wrap {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.tt-effect-stackback.tt-effect-active .item:not(.tt-empty) .item-wrap:first-child {
  -webkit-animation: moveLeft 0.8s forwards;
  animation: moveLeft 0.8s forwards; }

.tt-effect-stackback.tt-effect-active .item .item-wrap:nth-child(2),
.tt-effect-stackback.tt-effect-active .item.tt-empty .item-wrap {
  z-index: -1;
  -webkit-animation: popUp 0.8s ease-in forwards;
  animation: popUp 0.8s ease-in forwards; }

.tt-effect-stackback.tt-effect-active .item:not(.tt-empty) .item-wrap:only-child {
  -webkit-animation: moveLeft 0.8s forwards;
  animation: moveLeft 0.8s forwards; }

.tt-effect-stackback.tt-effect-active .item.tt-empty .item-wrap {
  opacity: 0;
  -webkit-animation: fadeIn 0.8s forwards;
  animation: fadeIn 0.8s forwards; }

/* 3d flip */
.tt-effect-3dflip .item {
  -webkit-perspective: 1000px;
  perspective: 1000px; }

.tt-effect-3dflip .item .item-wrap {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.tt-effect-3dflip.tt-effect-active .item:not(.tt-empty) .item-wrap:first-child {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotateOutLeft 0.6s forwards;
  animation: rotateOutLeft 0.6s forwards; }

.tt-effect-3dflip.tt-effect-active .item .item-wrap:nth-child(2),
.tt-effect-3dflip.tt-effect-active .item.tt-empty .item-wrap {
  opacity: 0;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotateInRight 0.6s ease-in forwards;
  animation: rotateInRight 0.6s ease-in forwards; }

/* Bring back */
/* From https://github.com/hakimel/kontext by Hakim El Hattab, http://hakim.se */
.tt-effect-bringback .item {
  -webkit-perspective: 1000px;
  perspective: 1000px; }

.tt-effect-bringback .item .item-wrap {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.tt-effect-bringback.tt-effect-active .item:not(.tt-empty) .item-wrap:first-child {
  -webkit-animation: hideLeft 0.8s forwards;
  animation: hideLeft 0.8s forwards; }

.tt-effect-bringback.tt-effect-active .item .item-wrap:nth-child(2) {
  z-index: -1;
  -webkit-animation: showRight 0.8s forwards;
  animation: showRight 0.8s forwards; }

.tt-effect-bringback.tt-effect-active .item:not(.tt-empty) .item-wrap:only-child {
  -webkit-animation: hideLeft 0.8s forwards;
  animation: hideLeft 0.8s forwards; }

.tt-effect-bringback.tt-effect-active .item.tt-empty .item-wrap {
  opacity: 0;
  -webkit-animation: fadeIn 0.8s forwards;
  animation: fadeIn 0.8s forwards; }

/* Superscale */
.tt-effect-superscale.tt-effect-active .item:not(.tt-empty) .item-wrap:first-child {
  -webkit-animation: scaleDown 0.6s ease-in-out forwards;
  /*-ms-animation: scaleDown 0.6s ease-in-out forwards;*/
  -o-animation: scaleDown 0.6s ease-in-out forwards;
  animation: scaleDown 0.6s ease-in-out forwards; }

.tt-effect-superscale.tt-effect-active .item .item-wrap:nth-child(2),
.tt-effect-superscale.tt-effect-active .item.tt-empty .item-wrap {
  opacity: 0;
  -webkit-animation: scaleIn 0.6s ease-in-out forwards;
  animation: scaleIn 0.6s ease-in-out forwards; }

/* Center flip */
.tt-effect-flip .item {
  -webkit-perspective: 1500px;
  perspective: 1500px; }

.tt-effect-flip .item .item-wrap {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.tt-effect-flip.tt-effect-active .item:not(.tt-empty) .item-wrap:first-child {
  -webkit-animation: flipOut 0.8s ease-in forwards;
  animation: flipOut 0.8s ease-in forwards; }

.tt-effect-flip.tt-effect-active .item .item-wrap:nth-child(2),
.tt-effect-flip.tt-effect-active .item.tt-empty .item-wrap {
  opacity: 0;
  -webkit-animation: flipIn 0.8s ease-in forwards;
  animation: flipIn 0.8s ease-in forwards; }

/* Front row */
.tt-effect-frontrow .item {
  overflow: hidden; }

.tt-effect-frontrow.tt-effect-active .item:not(.tt-empty) .item-wrap:first-child {
  -webkit-animation: moveToBack 0.8s forwards;
  animation: moveToBack 0.8s forwards; }

.tt-effect-frontrow.tt-effect-active .item .item-wrap:nth-child(2),
.tt-effect-frontrow.tt-effect-active .item.tt-empty .item-wrap {
  -webkit-animation: moveToFront 0.8s forwards;
  animation: moveToFront 0.8s forwards; }

.tt-effect-frontrow.tt-effect-active .item.tt-empty .item-wrap {
  opacity: 0; }

.tt-effect-frontrow.tt-effect-active .item:not(.tt-empty) .item-wrap:only-child {
  -webkit-animation: moveToFront 0.5s forwards;
  animation: moveToFront 0.5s forwards; }

/* Animation delays */
.sp-deal .tt-effect-delay.tt-effect-active .item:nth-child(2) .item-wrap {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.sp-deal .tt-effect-delay.tt-effect-active .item:nth-child(3) .item-wrap {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.sp-deal .tt-effect-delay.tt-effect-active .item:nth-child(4) .item-wrap {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sp-deal .tt-effect-delay.tt-effect-active .item:nth-child(5) .item-wrap {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.sp-deal .tt-effect-delay.tt-effect-active .item:nth-child(6) .item-wrap {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

/* Reverse delays */
.sp-deal .tt-effect-delay-reversed.tt-effect-active .item:nth-child(5) .item-wrap {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.sp-deal .tt-effect-delay-reversed.tt-effect-active .item:nth-child(4) .item-wrap {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.sp-deal .tt-effect-delay-reversed.tt-effect-active .item:nth-child(3) .item-wrap {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sp-deal .tt-effect-delay-reversed.tt-effect-active .item:nth-child(2) .item-wrap {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.sp-deal .tt-effect-delay-reversed.tt-effect-active .item:nth-child(1) .item-wrap {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

/* Animations */
@-webkit-keyframes fallDown {
  to {
    opacity: 0;
    -webkit-transform: translateY(70%); } }
@keyframes fallDown {
  to {
    opacity: 0;
    transform: translateY(70%); } }
@-webkit-keyframes scaleUpFadeIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0.8); }
  to {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1); } }
@keyframes scaleUpFadeIn {
  from {
    opacity: 0;
    transform: scale(0.8); }
  to {
    visibility: visible;
    opacity: 1;
    transform: scale(1); } }
@-webkit-keyframes slideOut {
  from {
    width: 100%; }
  to {
    width: 0%; } }
@keyframes slideOut {
  from {
    width: 100%; }
  to {
    width: 0%; } }
@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fallRotate {
  0% {
    -webkit-transform: translateY(0%) rotate(0deg);
    -webkit-animation-timing-function: ease-in; }
  40% {
    -webkit-transform: translateY(0%) rotate(20deg);
    -webkit-animation-timing-function: ease-out; }
  60% {
    -webkit-transform: translateY(0%) rotate(15deg);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(150%) rotate(17deg);
    opacity: 0; } }
@keyframes fallRotate {
  0% {
    transform: translateY(0%) rotate(0deg);
    animation-timing-function: ease-in; }
  40% {
    transform: translateY(0%) rotate(20deg);
    animation-timing-function: ease-out; }
  60% {
    transform: translateY(0%) rotate(15deg);
    opacity: 1; }
  100% {
    transform: translateY(150%) rotate(17deg);
    opacity: 0; } }
@-webkit-keyframes scaleRotateOut {
  100% {
    opacity: 0;
    -webkit-transform: scale(0); } }
@keyframes scaleRotateOut {
  100% {
    opacity: 0;
    transform: scale(0); } }
@-webkit-keyframes scaleRotateIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%) translateY(100%) rotate(25deg); }
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0%) translateY(0%) rotate(0deg); } }
@keyframes scaleRotateIn {
  0% {
    opacity: 0;
    transform: translateX(50%) translateY(100%) rotate(25deg); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%) translateY(0%) rotate(0deg); } }
@-webkit-keyframes moveLeft {
  50% {
    opacity: 1;
    -webkit-transform: translateX(-100%) rotateY(35deg) rotateX(10deg); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%) rotateY(0deg) rotateX(0deg); } }
@keyframes moveLeft {
  50% {
    opacity: 1;
    transform: translateX(-100%) rotateY(35deg) rotateX(10deg); }
  100% {
    opacity: 1;
    transform: translateX(0%) rotateY(0deg) rotateX(0deg); } }
@-webkit-keyframes popUp {
  0% {
    -webkit-transform: translateZ(-200px); }
  50% {
    z-index: -1; }
  51% {
    z-index: 1; }
  70% {
    z-index: 1;
    visibility: visible;
    -webkit-transform: translateZ(50px);
    -webkit-animation-timing-function: ease-out; }
  100% {
    z-index: 1;
    visibility: visible;
    -webkit-transform: translateZ(0px); } }
@keyframes popUp {
  0% {
    transform: translateZ(-200px); }
  50% {
    z-index: -1; }
  51% {
    z-index: 1; }
  70% {
    z-index: 1;
    visibility: visible;
    transform: translateZ(50px);
    animation-timing-function: ease-out; }
  100% {
    z-index: 1;
    visibility: visible;
    transform: translateZ(0px); } }
@-webkit-keyframes rotateOutLeft {
  100% {
    opacity: 0;
    -webkit-transform: rotateY(90deg); } }
@keyframes rotateOutLeft {
  100% {
    opacity: 0;
    transform: rotateY(90deg); } }
@-webkit-keyframes rotateInRight {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg); }
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: rotateY(0deg); } }
@keyframes rotateInRight {
  0% {
    opacity: 0;
    transform: rotateY(-90deg); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: rotateY(0deg); } }
@-webkit-keyframes hideLeft {
  0% {
    -webkit-transform: translateZ(0px); }
  40% {
    -webkit-transform: translate(-40%, 0) scale(0.8) rotateY(20deg); }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(-400px); } }
@keyframes hideLeft {
  0% {
    transform: translateZ(0px); }
  40% {
    transform: translate(-40%, 0) scale(0.8) rotateY(20deg); }
  100% {
    transform: translateZ(-400px); } }
@-webkit-keyframes showRight {
  0% {
    -webkit-transform: translateZ(-400px); }
  40% {
    z-index: -1;
    -webkit-transform: translate(40%, 0) scale(0.8) rotateY(-20deg); }
  41% {
    z-index: 1; }
  100% {
    z-index: 1;
    visibility: visible;
    -webkit-transform: translateZ(0px); } }
@keyframes showRight {
  0% {
    transform: translateZ(-400px); }
  40% {
    z-index: -1;
    transform: translate(40%, 0) scale(0.8) rotateY(-20deg); }
  41% {
    z-index: 1; }
  100% {
    z-index: 1;
    visibility: visible;
    transform: translateZ(0px); } }
@-webkit-keyframes scaleDown {
  100% {
    opacity: 0;
    -webkit-transform: scale(0); } }
@keyframes scaleDown {
  100% {
    opacity: 0;
    transform: scale(0); } }
@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.2); }
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1); } }
@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(1.2); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: scale(1); } }
@-webkit-keyframes flipOut {
  50% {
    opacity: 0;
    -webkit-transform: rotateY(90deg); }
  100% {
    opacity: 0;
    -webkit-transform: rotateY(90deg); } }
@keyframes flipOut {
  50% {
    opacity: 0;
    transform: rotateY(90deg); }
  100% {
    opacity: 0;
    transform: rotateY(90deg); } }
@-webkit-keyframes flipIn {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg); }
  50% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg); }
  75% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: rotateY(15deg);
    -webkit-animation-timing-function: ease-in; }
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: rotateY(0deg); } }
@keyframes flipIn {
  0% {
    opacity: 0;
    transform: rotateY(-90deg); }
  50% {
    opacity: 0;
    transform: rotateY(-90deg); }
  75% {
    visibility: visible;
    opacity: 1;
    transform: rotateY(15deg);
    animation-timing-function: ease-in; }
  100% {
    visibility: visible;
    opacity: 1;
    transform: rotateY(0deg); } }
@-webkit-keyframes moveToBack {
  100% {
    -webkit-transform: translateX(-60%) scale(0.8); } }
@keyframes moveToBack {
  100% {
    transform: translateX(-60%) scale(0.8); } }
@-webkit-keyframes moveToBack {
  100% {
    -webkit-transform: translateX(-60%) scale(0.8); } }
@-webkit-keyframes moveToFront {
  0% {
    -webkit-transform: translateX(100%) scale(0.8); }
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0%) scale(1); } }
@keyframes moveToFront {
  0% {
    transform: translateX(100%) scale(0.8); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%) scale(1); } }
div.sp-deal {
  padding: 50px 0; }
  div.sp-deal .product_list.grid .right-block {
    padding: 0; }
  div.sp-deal .product_list.grid .left-block {
    padding-top: 220px;
    text-align: left; }
    div.sp-deal .product_list.grid .left-block p {
      color: #898989;
      font-size: 14px;
      line-height: 1.8em;
      margin-bottom: 50px; }
  div.sp-deal .product_list.grid h5.product-name {
    font-size: 30px;
    font-weight: 600; }
    div.sp-deal .product_list.grid h5.product-name a {
      color: #fff; }
  div.sp-deal .product_list.grid .comments_note {
    margin-bottom: 30px; }
    div.sp-deal .product_list.grid .comments_note div.star:after {
      color: #fff; }
  div.sp-deal .product_list.grid .price-box {
    margin-bottom: 10px; }
    div.sp-deal .product_list.grid .price-box .price {
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 5px;
      display: inline-block; }
    div.sp-deal .product_list.grid .price-box .old-price {
      display: inline-block;
      padding: 0;
      font-size: 14px;
      vertical-align: middle; }
  div.sp-deal .product_list.grid .button-container {
    position: relative;
    left: auto !important;
    bottom: auto !important; }
    div.sp-deal .product_list.grid .button-container .cart_button {
      width: auto;
      padding: 0 30px; }
    div.sp-deal .product_list.grid .button-container .add_to_compare, div.sp-deal .product_list.grid .button-container .quick-view, div.sp-deal .product_list.grid .button-container .addToWishlist {
      border: none;
      margin-left: 1px; }
  div.sp-deal .product_list.grid .detail-view {
    font-size: 21px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    background: transparent;
    border: solid 3px #fff;
    padding: 25px 50px;
    margin-top: 30px;
    display: none; }
  div.sp-deal .product_list.grid .item-time {
    font-size: 0; }
    div.sp-deal .product_list.grid .item-time .time-item {
      display: inline-block;
      width: 25%;
      border-right: solid 1px #737373;
      text-align: center;
      height: 100px;
      background: #363636; }
      div.sp-deal .product_list.grid .item-time .time-item.time-sec {
        border-right: none; }
      div.sp-deal .product_list.grid .item-time .time-item .num-time {
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 300; }
        div.sp-deal .product_list.grid .item-time .time-item .num-time span {
          display: block;
          font-size: 30px;
          font-weight: bold;
          letter-spacing: 2px;
          padding: 30px 0 15px; }

div.sp-deal.layout2 {
  padding: 0; }
  div.sp-deal.layout2 .slider .vpo-wrap .vp .item {
    padding: 0; }
  div.sp-deal.layout2 .block_title {
    text-align: left;
    position: relative; }
    div.sp-deal.layout2 .block_title:before {
      content: "";
      display: block;
      height: 87px;
      width: 152px;
      background: url(../../../../../img/icon/icon_03.jpg) no-repeat 0px 0px;
      position: absolute;
      left: 15px;
      top: 0;
      z-index: -1; }
    div.sp-deal.layout2 .block_title .title-deal {
      color: #363636;
      font-weight: 700;
      font-size: 30px;
      text-transform: uppercase;
      padding: 30px 0px 80px;
      text-align: center; }
    div.sp-deal.layout2 .block_title .shopnow {
      display: inline-block;
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 600;
      padding: 10px 30px;
      border: solid 2px #363636;
      border-radius: 2px; }
  div.sp-deal.layout2 .block_title.layout4:before {
    height: 86px;
    width: 122px;
    background: url(../../../../../img/icon/icon_01.jpg) no-repeat 0px 0px; }
  div.sp-deal.layout2 .product_list.grid .product-container {
    position: relative; }
  div.sp-deal.layout2 .product_list.grid .left-block {
    padding-top: 70px; }
  div.sp-deal.layout2 .product_list.grid h5.product-name a {
    color: #363636; }
  div.sp-deal.layout2 .product_list.grid .comments_note div.star:after {
    color: #acacac; }
  div.sp-deal.layout2 .product_list.grid .comments_note div.star.star_on:after {
    color: #363636; }
  div.sp-deal.layout2 .product_list.grid .countdown {
    position: absolute;
    left: -15px;
    bottom: 50px;
    z-index: 10; }
  div.sp-deal.layout2 .product_list.grid .item-time {
    background: #363636; }
  div.sp-deal.layout2 .page-button {
    display: inline-block;
    position: absolute;
    top: 45%;
    left: -15px;
    z-index: 8; }
    div.sp-deal.layout2 .page-button .control-button {
      font-size: 0;
      display: inline-block; }
      div.sp-deal.layout2 .page-button .control-button .preview, div.sp-deal.layout2 .page-button .control-button .next {
        display: inline-block;
        height: 19px;
        width: 10px;
        background-image: url(../../../../../img/icon/arrow.png);
        background-repeat: no-repeat;
        background-color: #3f3f3f;
        margin: 0 15px; }
      div.sp-deal.layout2 .page-button .control-button .preview {
        background-position: left center; }
      div.sp-deal.layout2 .page-button .control-button .next {
        background-position: right center; }

div.sp-deal.layout4 {
  padding: 0; }
  div.sp-deal.layout4 .slider {
    overflow: visible;
    z-index: 2; }
    div.sp-deal.layout4 .slider .vpo-wrap .vp {
      overflow: visible;
      height: 450px !important; }
      div.sp-deal.layout4 .slider .vpo-wrap .vp .item {
        padding: 0;
        height: 100%; }
        div.sp-deal.layout4 .slider .vpo-wrap .vp .item .product-container {
          height: 100%; }
          div.sp-deal.layout4 .slider .vpo-wrap .vp .item .product-container .right-block {
            height: 100%; }
  div.sp-deal.layout4 .product_list.grid .left-block {
    padding: 0; }
  div.sp-deal.layout4 .product_list.grid .item-time .time-item {
    height: 77px;
    background: #363636; }
    div.sp-deal.layout4 .product_list.grid .item-time .time-item.time-sec {
      border-right: none; }
    div.sp-deal.layout4 .product_list.grid .item-time .time-item .num-time {
      color: #fff;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 300; }
      div.sp-deal.layout4 .product_list.grid .item-time .time-item .num-time span {
        display: block;
        font-size: 21px;
        font-weight: bold;
        letter-spacing: 2px;
        padding: 17px 0 10px; }
  div.sp-deal.layout4 .product_list.grid .product-image-container {
    height: 100%; }
    div.sp-deal.layout4 .product_list.grid .product-image-container .product-image {
      height: 100%; }
      div.sp-deal.layout4 .product_list.grid .product-image-container .product-image img {
        height: 100%; }
  div.sp-deal.layout4 .countdown {
    position: absolute;
    left: -30px;
    width: 100%;
    bottom: 20px;
    z-index: 9; }

.content-v5 .ps-spotlight4 div.sp-deal {
  padding: 50px 0 0; }
  .content-v5 .ps-spotlight4 div.sp-deal .product_list.grid .button-container {
    display: none; }
  .content-v5 .ps-spotlight4 div.sp-deal .product_list.grid .detail-view {
    display: inline-block;
    direction: ltr; }
  .content-v5 .ps-spotlight4 div.sp-deal .product_list.grid .item-time {
    display: none; }
  .content-v5 .ps-spotlight4 div.sp-deal .product_list.grid .left-block {
    padding-top: 120px; }
    .content-v5 .ps-spotlight4 div.sp-deal .product_list.grid .left-block p {
      color: #d7d7d7;
      margin-bottom: 0; }

@media (min-width: 992px) and (max-width: 1199px) {
  div.sp-deal.layout2 .block_title .title-deal {
    font-size: 26px; }
  div.sp-deal.layout2 .product_list.grid .left-block {
    padding-top: 22px; }

  div.sp-deal.layout4 .slider .vpo-wrap .vp {
    height: 361px !important; }

  .content-v5 .ps-spotlight4 {
    background-size: 100% 100%; }
    .content-v5 .ps-spotlight4 div.sp-deal .product_list.grid .left-block {
      padding-top: 80px; } }
@media (min-width: 767px) and (max-width: 991px) {
  div.sp-deal.layout2 .block_title .title-deal {
    font-size: 20px; }
  div.sp-deal.layout2 .product_list.grid .left-block {
    padding-top: 20px; }
    div.sp-deal.layout2 .product_list.grid .left-block p {
      font-size: 13px;
      margin-bottom: 30px; }
  div.sp-deal.layout2 .product_list.grid .comments_note {
    margin-bottom: 20px; }
  div.sp-deal.layout2 .product_list.grid h5.product-name {
    font-size: 20px; }
  div.sp-deal.layout2 .product_list.grid .price-box {
    margin: 0; }
    div.sp-deal.layout2 .product_list.grid .price-box .price {
      font-size: 26px; }
  div.sp-deal.layout2 .product_list.grid .button-container .cart_button {
    padding: 0 15px; }
  div.sp-deal.layout2 .product_list.grid .countdown {
    bottom: 0; }
  div.sp-deal.layout2 .page-button {
    top: 55%; }

  div.sp-deal.layout4 .slider .vpo-wrap .vp {
    height: 275px !important; }
  div.sp-deal.layout4 .product_list.grid .item-time .time-item .num-time {
    font-size: 11px; }

  .content-v5 .ps-spotlight4 {
    background-size: 100% 100%; }
    .content-v5 .ps-spotlight4 div.sp-deal .product_list.grid .left-block {
      padding-top: 0px; }
      .content-v5 .ps-spotlight4 div.sp-deal .product_list.grid .left-block p {
        font-size: 13px; }
      .content-v5 .ps-spotlight4 div.sp-deal .product_list.grid .left-block h5.product-name {
        font-size: 24px; }
    .content-v5 .ps-spotlight4 div.sp-deal .product_list.grid .price-box {
      margin: 0; }
      .content-v5 .ps-spotlight4 div.sp-deal .product_list.grid .price-box .price {
        font-size: 30px; }
    .content-v5 .ps-spotlight4 div.sp-deal .product_list.grid .detail-view {
      font-size: 16px;
      padding: 20px 40px; }
    .content-v5 .ps-spotlight4 div.sp-deal .product_list.grid .comments_note {
      margin-bottom: 20px; } }
@media (max-width: 767px) {
  div.sp-deal .product_list.grid .left-block {
    padding-top: 30px; }

  div.sp-deal .slider .vpo-wrap .vp .item {
    padding: 0; }

  div.sp-deal.layout2 .product_list.grid .countdown {
    bottom: 52%; }

  div.sp-deal.layout2 .block_title .title-deal {
    padding-bottom: 100px; }

  div.sp-deal.layout2 .page-button {
    top: 16%; }

  div.sp-deal.layout4 .slider .vpo-wrap .vp {
    height: 500px !important; }

  div.sp-deal.layout4 .countdown {
    left: 0;
    bottom: 0; }

  .content-v5 .ps-spotlight4 div.sp-deal .product_list.grid .left-block {
    padding-top: 30px; }

  .rtl div.sp-deal.layout4 .countdown {
    right: 0; } }
@media (max-width: 480px) {
  div.sp-deal.layout2 .block_title {
    text-align: center;
    width: 100%;
    position: inherit; }
    div.sp-deal.layout2 .block_title .shopnow {
      position: absolute;
      bottom: 0;
      left: 25%; }
  div.sp-deal.layout2 .col-xs-6 {
    width: 100%; }
  div.sp-deal.layout2 .product_list.grid .countdown {
    right: -15px;
    width: auto;
    left: -15px; }
  div.sp-deal.layout2 .product_list.grid .product-container {
    padding-bottom: 70px; }

  div.sp-deal.layout4 .slider .vpo-wrap .vp {
    height: 300px !important; }

  div.sp-deal.layout2 .page-button {
    top: 10%;
    right: -15px;
    text-align: center; }

  .rtl div.sp-deal.layout2 .product_list.grid .countdown {
    left: -15px;
    right: -15px; }
  .rtl div.sp-deal.layout2 .page-button {
    left: -15px; } }
