/* MINI COLOR */
.minicolors {
	position: relative;display:none;
}

.minicolors-swatch {
	position: absolute;
	vertical-align: middle;
	background: url(jquery.minicolors.png) -80px 0;
	
	cursor: text;
	padding: 0;
	margin: 0;
	display: inline-block;
}

.minicolors-swatch-color {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.minicolors input[type=hidden] + .minicolors-swatch {
	width: 28px;
	position: static;
	cursor: pointer;
}

/* Panel */
.minicolors-panel {
	position: absolute;
	width: 173px;
	height: 152px;
	background: white;
	border: solid 1px #CCC;
	box-shadow: 0 0 20px rgba(0, 0, 0, .2);
	z-index: 99999;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	display: none;
}

.minicolors-panel.minicolors-visible {
	display: block;
}

/* Panel positioning */
.minicolors-position-top .minicolors-panel {
	top: -154px;
}

.minicolors-position-right .minicolors-panel {
	right: 0;
}

.minicolors-position-bottom .minicolors-panel {
	top: auto;
}

.minicolors-position-left .minicolors-panel {
	left: 0;
}

.minicolors-with-opacity .minicolors-panel {
	width: 194px;
}

.minicolors .minicolors-grid {
	position: absolute;
	top: 1px;
	left: 1px;
	width: 150px;
	height: 150px;
	background: url(jquery.minicolors.png) -120px 0;
	cursor: crosshair;
}

.minicolors .minicolors-grid-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: none;
}

.minicolors-slider-saturation .minicolors-grid {
	background-position: -420px 0;
}

.minicolors-slider-saturation .minicolors-grid-inner {
	background: url(jquery.minicolors.png) -270px 0;
}

.minicolors-slider-brightness .minicolors-grid {
	background-position: -570px 0;
}

.minicolors-slider-brightness .minicolors-grid-inner {
	background: black;
}

.minicolors-slider-wheel .minicolors-grid {
	background-position: -720px 0;
}

.minicolors-slider,
.minicolors-opacity-slider {
	position: absolute;
	top: 1px;
	left: 152px;
	width: 20px;
	height: 150px;
	background: white url(jquery.minicolors.png) 0 0;
	cursor: row-resize;
}

.minicolors-slider-saturation .minicolors-slider {
	background-position: -60px 0;
}

.minicolors-slider-brightness .minicolors-slider {
	background-position: -20px 0;
}

.minicolors-slider-wheel .minicolors-slider {
	background-position: -20px 0;
}

.minicolors-opacity-slider {
	left: 173px;
	background-position: -40px 0;
	display: none;
}

.minicolors-with-opacity .minicolors-opacity-slider {
	display: block;
}

/* Pickers */
.minicolors-grid .minicolors-picker {
	position: absolute;
	top: 70px;
	left: 70px;
	width: 12px;
	height: 12px;
	border: solid 1px black;
	border-radius: 10px;
	margin-top: -6px;
	margin-left: -6px;
	background: none;
}

.minicolors-grid .minicolors-picker > div {
	position: absolute;
	top: 0;
	left: 0;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	border: solid 2px white;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.minicolors-picker {
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	height: 2px;
	background: white;
	border: solid 1px black;
	margin-top: -2px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

/* Inline controls */
.minicolors-inline {
	display: inline-block;
}

.minicolors-inline .minicolors-input {
	display: none !important;
}

.minicolors-inline .minicolors-panel {
	position: relative;
	top: auto;
	left: auto;
	box-shadow: none;
	z-index: auto;
	display: inline-block;
}

/* Default theme */
.minicolors-theme-default .minicolors-swatch {
	top: 5px;
	left: 5px;
	width: 18px;
	height: 18px;
}
.minicolors-theme-default.minicolors-position-right .minicolors-swatch {
	left: auto;
	right: 5px;
}
.minicolors-theme-default.minicolors {
	width: auto;
	display: inline-block;
}
.minicolors-theme-default .minicolors-input {
	height: 20px;
	width: auto;
	display: inline-block;
	padding-left: 26px;
}
.minicolors-theme-default.minicolors-position-right .minicolors-input {
	padding-right: 26px;
	padding-left: inherit;
}

/* Bootstrap theme */
.minicolors-theme-bootstrap .minicolors-swatch {
	top: 3px;
	left: 3px;
	width: 28px;
	height: 28px;
	border-radius: 3px;
}
.minicolors-theme-bootstrap .minicolors-swatch-color {
	border-radius: inherit;
}
.minicolors-theme-bootstrap.minicolors-position-right .minicolors-swatch {
	left: auto;
	right: 3px;
}
.minicolors-theme-bootstrap .minicolors-input {
	padding-left: 44px;
}
.minicolors-theme-bootstrap.minicolors-position-right .minicolors-input {
	padding-right: 44px;
	padding-left: 12px;
	height:34px;
	width:100%;
}
.minicolors-theme-bootstrap .minicolors-input.input-lg + .minicolors-swatch {
	top: 4px;
	left: 4px;
	width: 37px;
	height: 37px;
	border-radius: 5px;
}
.minicolors-theme-bootstrap .minicolors-input.input-sm + .minicolors-swatch {
	width: 24px;
	height: 24px;
}

/* DO NOT EDIT THIS FILE */
#sp-cpanel{background:  #ffffff;box-shadow: 0 0 10px rgba(0,0,0,.15);left: -100%;position: fixed;top: 110px;padding:  20px ;width: 240px;z-index: 900;direction:ltr;overflow:hidden;}
#sp-cpanel > h2{margin: -20px -20px 0;background: #444;color: white;padding:  20px;text-align: center;font-size: 14px; overflow:hidden;}
#sp-cpanel_settings{margin: 20px 0 0; font-size: 12px;}
    
.panel-subtitle{font-size: 11px;display: block;color: #999;font-weight: normal;}
.group-schemes{width: 100%;display:block;}
.group-schemes .item_scheme{border: 3px solid #E3E3E3;display: inline-block;margin: 0 6px 0px 0; cursor: pointer;}
.group-schemes .item_scheme.selected{border-color: #777;}
.group-schemes .item_scheme > span{width: 22px;height: 22px;display: block;border: 1px solid #fff;}
.reset-group{background:#f5f5f5;border-top:1px solid #dddddd; margin:0 -20px -20px;padding: 15px 20px;}
.reset-group .btn{font-size:13px;border-radius:0; background:#777; border:none; padding:7px 12px; margin-right:5%; width:42%;}
	   
	    

#sp-cpanel_btn{position: fixed;width: 42px;height: 40px;left: 0px;top: 110px;padding: 10px;cursor: pointer;overflow: hidden;background: #333;z-index: 9;border-radius:0 3px 3px 0;}
#sp-cpanel_btn i {font-size: 20px;color: #fff;}
.sp-cpanel-title{margin:-20px -20px 0;background: #333;padding: 10px 10px 10px 20px;color: #CFCFCF;font-size:16px;}
.sp-cpanel-close{ width: 34px;height: 34px;line-height: 34px;margin: -10px -20px;cursor: pointer; font-size:16px; float:right;  }
.sp-cpanel-close:hover{ color:#fff; background: #333;}
.no-margin{margin:0 !important;}
.label-sm{font-size: 11px;color: #999;margin: 5px 0;}
.minicolors-theme-bootstrap .minicolors-swatch {border-radius:0;}
#sp-cpanel select {width:100%;position:relative;height:100%;padding:0 10px;border:none;border:solid 1px #ccc;}
#sp-cpanel select  option {padding: 5px 10px;}
#sp-cpanel label {font-weight:normal;cursor:pointer;display:block;}
#sp-cpanel label .fa {float:right;margin-top:5px;}
#sp-cpanel label.active .fa:before {content:"\f0d8";}
#sp-cpanel .selectbox {position:relative;height:34px;}
#sp-cpanel .selectbox:after {content:"\f0d7";font-family:Fontawesome;color:#666;display:block;height:32px;width:30px;line-height:30px;position:absolute;top:1px;right:1px;pointer-events:none;background:#fff;text-align:center;border-radius:0;}

/* Element Show FrontEnd */
.layout-framed.pattern,.layout-boxed.pattern,.layout-rounded.pattern{background-image:none;}
.layout-framed.patternnone,.layout-boxed.patternnone,.layout-rounded.patternnone{background-image:none;}
.layout-framed.pattern1,.layout-boxed.pattern1,.layout-rounded.pattern1{background-image: url("../../../patterns/1.png");}
.layout-framed.pattern2,.layout-boxed.pattern2,.layout-rounded.pattern2{background-image: url("../../../patterns/2.png");}
.layout-framed.pattern3,.layout-boxed.pattern3,.layout-rounded.pattern3{background-image: url("../../../patterns/3.png");}
.layout-framed.pattern4,.layout-boxed.pattern4,.layout-rounded.pattern4{background-image: url("../../../patterns/4.png");}
.layout-framed.pattern5,.layout-boxed.pattern5,.layout-rounded.pattern5{background-image: url("../../../patterns/5.png");}
.layout-framed.pattern6,.layout-boxed.pattern6,.layout-rounded.pattern6{background-image: url("../../../patterns/6.png");}
.layout-framed.pattern7,.layout-boxed.pattern7,.layout-rounded.pattern7{background-image: url("../../../patterns/7.png");}
.layout-framed.pattern8,.layout-boxed.pattern8,.layout-rounded.pattern8{background-image: url("../../../patterns/8.png");}
.layout-framed.pattern9,.layout-boxed.pattern9,.layout-rounded.pattern9{background-image: url("../../../patterns/9.png");}

div.img-pattern {display:inline-block;height:37px;width:37px;border:solid 1px #d7d7d7;padding:1px;background:#fff;cursor:pointer;margin-bottom:-2px;}
div.img-pattern span {background-repeat:no-repeat;background-position:center center;background-size:100% 100%;display:block;width:100%;height:100%;}
div.img-pattern.pattern_none span {background-image: none;}
div.img-pattern.pattern_1 span {background-image: url("../../../patterns/1.png");}
div.img-pattern.pattern_2 span {background-image: url("../../../patterns/2.png");}
div.img-pattern.pattern_3 span {background-image: url("../../../patterns/3.png");}
div.img-pattern.pattern_4 span {background-image: url("../../../patterns/4.png");}
div.img-pattern.pattern_5 span {background-image: url("../../../patterns/5.png");}
div.img-pattern.pattern_6 span {background-image: url("../../../patterns/6.png");}
div.img-pattern.pattern_7 span {background-image: url("../../../patterns/7.png");}
div.img-pattern.pattern_8 span {background-image: url("../../../patterns/8.png");}
div.img-pattern.pattern_9 span {background-image: url("../../../patterns/9.png");}

div.themeColor {display:inline-block;height:37px;width:37px;border:solid 1px #d7d7d7;padding:1px;background:#fff;cursor:pointer;}
div.themeColor span {display:block;height:100%;width:100%;}
div.themeColor.color1 span {background:#f69a43;}
div.themeColor.color2 span {background:#4daaf2;}
div.themeColor.color3 span {background:#2dc1ce;}
div.themeColor.color4 span {background:#83c250;}
div.themeColor.color5 span {background:#f95656;}

@media  (max-width: 1199px) {
	#sp-cpanel label {pointer-events:none;}
	#sp-cpanel label .fa {display:none;}
	.panel-group.hidden-device {display:none;}
	.panel-group .collapse {display:block;height:auto;}
}

