.banner {
  margin-bottom: 50px; }
  .banner a {
    position: relative;
    display: block; }
    .banner a:after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: #fff;
      opacity: 0;
      filter: "alpha(opacity=0)";
      -ms-filter: "alpha(opacity=0)";
      transition: 0.3s all ease 0s; }
    .banner a:hover:after {
      opacity: 0.35;
      filter: "alpha(opacity=35)";
      -ms-filter: "alpha(opacity=35)"; }

div.structured_product h3.title_block {
  color: #363636;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0;
  text-align: center;
  padding: 0;
  border: none;
  margin: 0; }
div.structured_product h4.subtitle {
  text-align: center;
  margin: 20px 0; }
  div.structured_product h4.subtitle span {
    display: inline-block;
    width: 80px;
    height: 30px;
    background: url(../../../../../img/icon/subtitle.png) no-repeat 0px 0px; }

div.promotion {
  font-size: 0;
  padding: 60px 0;
  border-bottom: solid 1px #e5e5e5; }
  div.promotion .item {
    display: inline-block;
    width: 33.3333%;
    text-align: center;
    vertical-align: top; }
    div.promotion .item .icon {
      display: inline-block;
      height: 27px;
      width: 27px;
      background-image: url(../../../../../img/icon/icon_promotion.png);
      background-repeat: no-repeat; }
    div.promotion .item.item1 .icon {
      background-position: 0 0; }
    div.promotion .item.item2 .icon {
      background-position: 0 -28px; }
    div.promotion .item.item3 .icon {
      background-position: 0 -59px; }
    div.promotion .item .text h2 {
      margin: 0 0 5px; }
      div.promotion .item .text h2 a {
        color: #363636;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        font-size: 14px; }
    div.promotion .item .text p {
      line-height: 1.7em;
      font-size: 14px; }

.ps-spotlight7 div.promotion {
  border: none; }

div.footer-logo {
  margin-bottom: 30px;
  width: 50%;
  display: inline-block; }
  div.footer-logo .image {
    display: inline-block;
    width: 174px;
    height: 21px;
    background: url(../../../../../img/icon/logo_footer.png) no-repeat 0px 0px;
    margin: 0 0 25px; }
  div.footer-logo p {
    color: #898989;
    line-height: 1.7em;
    letter-spacing: 2px; }

div.promotion-block {
  overflow: hidden;
  margin: 0 -15px 100px; }
  div.promotion-block .promotion {
    float: left;
    width: 75%;
    padding: 35px 15px;
    border: none;
    position: relative; }
    div.promotion-block .promotion:before, div.promotion-block .promotion:after {
      content: "";
      display: block;
      height: 1px;
      background: #e5e5e5;
      position: absolute;
      left: 15px;
      right: 15px; }
    div.promotion-block .promotion:before {
      top: 0; }
    div.promotion-block .promotion:after {
      bottom: 0; }
    div.promotion-block .promotion .item {
      text-align: left;
      padding: 0 0 0 50px;
      position: relative; }
      div.promotion-block .promotion .item .icon {
        left: 0;
        top: 15px;
        position: absolute;
        background-image: url("../../../../../img/icon/icon_promotion2.png"); }
  div.promotion-block .title-promotion {
    float: left;
    width: 25%;
    color: #363636;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    padding: 56px 15px;
    position: relative; }
    div.promotion-block .title-promotion:before {
      content: "";
      display: block;
      height: 86px;
      width: 160px;
      background: url(../../../../../img/icon/icon_02.jpg) no-repeat 0px 0px;
      position: absolute;
      right: 15px;
      top: 26px;
      z-index: -1; }

.block-images {
  float: left;
  width: calc(100% - 880px); }
  .block-images .banner {
    margin: 0; }

.ps-spotlight8 div.banner {
  padding: 10px 0;
  overflow: hidden; }

div.banner .img4, div.banner .img5, div.banner .img6 {
  display: block;
  float: left; }
  div.banner .img4 img, div.banner .img5 img, div.banner .img6 img {
    width: 100%; }
div.banner .img5 {
  padding: 0 10px; }
div.banner .img4, div.banner .img6 {
  width: calc((100% - 450px) / 2); }

div.banner.layout4 {
  font-size: 0;
  top: -95px;
  position: relative;
  z-index: 8;
  margin-bottom: -25px; }
  div.banner.layout4 .img {
    display: inline-block;
    width: 33.3333%; }
    div.banner.layout4 .img img {
      width: 100%; }

.ps-spotlight9 div.promotion-block {
  margin-bottom: 75px;
  padding-top: 20px; }

.ps-spotlight10 {
  background: #f4f8fb;
  border: solid 1px #ebebeb;
  border-left: none;
  border-right: none; }

div.testimonials {
  padding: 70px 0 90px;
  position: relative; }
  div.testimonials .title {
    color: #363636;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    padding: 35px 90px;
    position: relative;
    background: url(../../../../../img/icon/icon_4.png) no-repeat top right; }
  div.testimonials .content .image {
    float: left;
    margin: 0 50px 0 0; }
  div.testimonials .content .text .text-title {
    margin-bottom: 10px; }
    div.testimonials .content .text .text-title span {
      font-size: 14px;
      font-weight: 700; }
  div.testimonials .content .text p {
    line-height: 26px; }
  div.testimonials .owl-controls {
    display: inline-block;
    position: absolute;
    left: 120px;
    z-index: 9; }
    div.testimonials .owl-controls .owl-nav {
      font-size: 0;
      display: inline-block; }
      div.testimonials .owl-controls .owl-nav .owl-prev, div.testimonials .owl-controls .owl-nav .owl-next {
        display: inline-block;
        height: 19px;
        width: 10px;
        background-image: url(../../../../../img/icon/arrow2.png);
        background-repeat: no-repeat;
        background-color: #3f3f3f;
        margin: 0 15px; }
      div.testimonials .owl-controls .owl-nav .owl-prev {
        background-position: left center; }
      div.testimonials .owl-controls .owl-nav .owl-next {
        background-position: right center; }

@media (min-width: 1200px) and (max-width: 1400px) {
  div.banner .img5 {
    width: 321px; }
  div.banner .img4, div.banner .img6 {
    width: calc((100% - 321px) / 2); } }
@media (min-width: 992px) and (max-width: 1199px) {
  div.footer-logo {
    width: 80%; }

  .block-images {
    width: 24.8%; }

  div.banner .img5 {
    width: 247px; }
  div.banner .img4, div.banner .img6 {
    width: calc((100% - 247px) / 2); }

  div.testimonials .title {
    padding: 35px 50px; } }
@media (min-width: 767px) and (max-width: 991px) {
  div.footer-logo {
    width: 100%; }

  div.promotion-block .title-promotion {
    font-size: 24px; }

  .block-images {
    display: none; }

  div.banner .img5 {
    width: 190px; }
  div.banner .img4, div.banner .img6 {
    width: calc((100% - 190px) / 2); }

  div.testimonials .title {
    padding: 35px 0px; }
  div.testimonials .content .image {
    margin: 0 50px 50px 0; }

  .rtl div.testimonials .content .image {
    margin: 0 0 50px 50px; } }
@media (max-width: 767px) {
  div.footer-logo {
    width: 100%; }

  div.promotion .item {
    width: 100%;
    margin-bottom: 15px; }

  div.promotion-block .promotion {
    width: 60%; }
  div.promotion-block .title-promotion {
    width: 40%; }

  .block-images {
    display: none; }

  div.banner .img4, div.banner .img5, div.banner .img6 {
    width: 100%;
    margin-bottom: 10px;
    padding: 0; }

  div.banner.layout4 {
    top: 0;
    margin: 0 -15px 50px; }

  div.testimonials .title {
    background-position: center top;
    margin-bottom: 50px;
    text-align: center;
    padding: 35px 0; }

  .ps-spotlight12 .banner img {
    width: 100%; }

  .rtl div.testimonials .title {
    background-position: center top; } }
@media (max-width: 480px) {
  .ps-spotlight9 div.promotion-block {
    padding-top: 150px;
    position: relative; }
    .ps-spotlight9 div.promotion-block .promotion {
      width: 100%; }
    .ps-spotlight9 div.promotion-block .title-promotion {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      text-align: center; }

  .block-images {
    display: block;
    width: 100%; }
    .block-images .banner .img2, .block-images .banner .img3 {
      width: 100%; }
      .block-images .banner .img2 img, .block-images .banner .img3 img {
        width: 100%; }
    .block-images .banner .img2 {
      margin: 10px 0; }

  div.banner.layout4 .img {
    width: 100%; }

  div.testimonials .content {
    text-align: center; }
    div.testimonials .content .image {
      float: none;
      display: inline-block;
      margin: 0 0 30px 0; }
  div.testimonials .owl-controls {
    left: 0;
    right: 0;
    text-align: center; }

  .rtl div.testimonials .content .image {
    float: none;
    margin: 0 0 30px 0; }
  .rtl div.testimonials .owl-controls {
    left: 0;
    right: 0; } }
