.navbar {
  border: none;
  margin: 0;
  border-radius: 0;
  z-index: auto;
  z-index: inherit;
  position: inherit; }

.header-container .container {
  position: relative; }

#header-menu {
  position: inherit; }

.sp-megamenu {
  padding: 0;
  min-height: inherit;
  text-align: center; }
  .sp-megamenu .navbar-nav {
    float: none;
    display: inline-block; }
    .sp-megamenu .navbar-nav > li {
      display: inline-block;
      float: none;
      position: inherit; }
      .sp-megamenu .navbar-nav > li > a {
        color: #363636;
        font-size: 13px;
        text-transform: uppercase;
        padding: 15px 20px;
        font-weight: 600;
        transition: 0.3s all ease 0s;
        display: block;
        position: relative;
        letter-spacing: 2px; }
        .sp-megamenu .navbar-nav > li > a:hover, .sp-megamenu .navbar-nav > li > a:focus {
          background: transparent; }
      .sp-megamenu .navbar-nav > li .dropdown-menu {
        display: block;
        background: #f4f8fb;
        border: none;
        box-shadow: none;
        border-radius: 0;
        transition: 0.3s all ease 0s;
        opacity: 0;
        top: 170%;
        margin-top: 10px;
        z-index: -1;
        min-width: auto;
        min-width: inherit;
        left: 15px;
        right: 15px;
        padding: 45px 50px 35px; }
        .sp-megamenu .navbar-nav > li .dropdown-menu:before {
          content: "";
          background: transparent;
          top: -10px;
          width: 100%;
          height: 10px;
          left: 0;
          position: absolute; }
        .sp-megamenu .navbar-nav > li .dropdown-menu .dropdown-menu:before {
          display: none; }
      .sp-megamenu .navbar-nav > li:hover .dropdown-menu {
        opacity: 1;
        top: 100%;
        z-index: 9; }

.sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li {
  float: left; }
  .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li > a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: #363636;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 15px;
    display: inline-block; }
    .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li > a:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 30px; }
  .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li .dropdown-menu {
    position: relative;
    top: auto;
    left: auto;
    margin: 0;
    box-shadow: none;
    right: auto;
    bottom: auto;
    padding: 15px 0 0;
    opacity: 1;
    z-index: 9; }
    .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li .dropdown-menu ul li {
      width: 100%;
      padding: 12px 0; }
      .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li .dropdown-menu ul li a {
        font-size: 14px;
        font-weight: 400;
        text-transform: none;
        padding: 0;
        border: none;
        letter-spacing: 0;
        position: relative;
        display: inline-block;
        transition: 0.3s all ease 0s; }
        .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li .dropdown-menu ul li a:before {
          content: "";
          display: inline-block;
          height: 1px;
          width: 0;
          transition: 0.3s all ease 0s;
          position: absolute;
          left: 0;
          top: 7px; }
        .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li .dropdown-menu ul li a:after {
          display: none; }
        .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li .dropdown-menu ul li a:hover {
          padding: 0 35px; }
          .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li .dropdown-menu ul li a:hover:before {
            width: 22px; }
      .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li .dropdown-menu ul li.category-thumbnail {
        padding: 0;
        width: 80%; }
        .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li .dropdown-menu ul li.category-thumbnail img {
          width: 100%;
          height: auto; }
  .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li .menu-content {
    padding: 5px 0;
    text-align: right; }

.sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li {
  float: left; }
  .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li > a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: #363636;
    letter-spacing: 2px; }
  .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li .dropdown-menu {
    position: relative;
    top: auto;
    left: auto;
    margin: 10px 0 0;
    right: auto;
    bottom: auto;
    padding: 15px 0 0;
    opacity: 1;
    z-index: 9;
    border-top: solid 1px #363636; }
    .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li .dropdown-menu ul li {
      width: 100%;
      padding: 12px 0; }
      .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li .dropdown-menu ul li a {
        font-size: 14px;
        font-weight: 400;
        text-transform: none;
        padding: 0;
        border: none;
        letter-spacing: 0;
        transition: 0.3s all ease 0s;
        position: relative; }
        .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li .dropdown-menu ul li a:before {
          content: "";
          display: inline-block;
          height: 1px;
          width: 0;
          transition: 0.3s all ease 0s;
          position: absolute;
          left: 0;
          top: 11px; }
        .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li .dropdown-menu ul li a:hover {
          padding: 0 35px; }
          .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li .dropdown-menu ul li a:hover:before {
            width: 22px; }
  .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li.special-product .menu-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: #363636;
    letter-spacing: 2px; }
  .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li.special-product .product_lists.grid {
    overflow: hidden;
    margin: 0;
    padding: 0px; }
    .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li.special-product .product_lists.grid .product_block {
      padding: 0 15px;
      float: left;
      width: 50%; }
      .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li.special-product .product_lists.grid .product_block .product-container {
        margin: 0;
        position: relative; }
        .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li.special-product .product_lists.grid .product_block .product-container .left-block .price-box {
          color: #363636;
          font-size: 22px;
          font-weight: 500;
          letter-spacing: 3px;
          text-align: right;
          margin-top: 5px; }
        .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li.special-product .product_lists.grid .product_block .product-container .right-block {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.5);
          padding: 100px 10px 0;
          transition: 0.3s all ease 0s;
          opacity: 0;
          z-index: 1;
          text-align: center; }
          .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li.special-product .product_lists.grid .product_block .product-container .right-block h5.product-name a {
            color: #fff; }
            .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li.special-product .product_lists.grid .product_block .product-container .right-block h5.product-name a:before {
              display: none; }
          .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li.special-product .product_lists.grid .product_block .product-container .right-block .price-box .old-price {
            color: #fff; }
          .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li.special-product .product_lists.grid .product_block .product-container .right-block .price-box .price {
            color: #fff; }
          .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li.special-product .product_lists.grid .product_block .product-container .right-block div.star:after {
            opacity: 1;
            color: #fff; }
        .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li.special-product .product_lists.grid .product_block .product-container:hover .right-block {
          opacity: 1; }
        .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li.special-product .product_lists.grid .product_block .product-container:hover .left-block .price-box {
          opacity: 0; }

.sp-megamenu .navbar-nav > li.css_type {
  position: relative; }
  .sp-megamenu .navbar-nav > li.css_type .dropdown-menu {
    left: -15px;
    right: auto;
    width: 220px;
    padding: 20px 0px; }
    .sp-megamenu .navbar-nav > li.css_type .dropdown-menu:before {
      height: 11px;
      top: -11px; }
    .sp-megamenu .navbar-nav > li.css_type .dropdown-menu:after {
      content: "";
      border-style: solid;
      border-width: 4px;
      position: absolute;
      top: -8px;
      left: 55px;
      border-color: transparent  transparent  #fff transparent; }
    .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li {
      padding: 0;
      position: relative;
      padding: 0 30px; }
      .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li:last-child > a {
        border: none; }
      .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li.parent > a:before {
        content: "\f105";
        font-family: Fontawesome;
        position: absolute;
        right: 30px;
        display: block;
        font-size: 14px;
        top: 12px; }
      .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li a {
        padding: 10px 0;
        display: block;
        font-weight: 400;
        font-size: 14px;
        color: #363636; }
        .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li a:after {
          display: none; }
      .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li .dropdown-menu {
        left: 100%;
        right: auto;
        top: 100%;
        margin: 0;
        z-index: -1;
        opacity: 0;
        margin: 0 10px; }
        .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li .dropdown-menu:before {
          content: "";
          display: block;
          height: 100%;
          width: 10px;
          position: absolute;
          top: 0;
          left: -10px;
          background: transparent; }
        .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li .dropdown-menu:after {
          display: none; }
      .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li:hover .dropdown-menu {
        z-index: 1;
        opacity: 1;
        top: 0; }

.sp-megamenu .home {
  display: inline-block;
  position: relative; }
  .sp-megamenu .home > a {
    color: #363636;
    display: block;
    font-size: 13px;
    font-weight: 600;
    padding: 15px 20px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    letter-spacing: 2px; }
  .sp-megamenu .home .dropdown-menu {
    left: -15px;
    right: auto;
    width: 200px;
    padding: 20px 0px;
    display: block;
    background: #f4f8fb;
    border: none;
    box-shadow: none;
    border-radius: 0;
    transition: 0.3s all ease 0s;
    opacity: 0;
    top: 170%;
    margin-top: 10px;
    z-index: -1;
    min-width: auto;
    min-width: inherit; }
    .sp-megamenu .home .dropdown-menu:before {
      content: "";
      background: transparent;
      width: 100%;
      left: 0;
      position: absolute;
      height: 11px;
      top: -11px; }
    .sp-megamenu .home .dropdown-menu li {
      padding: 0;
      position: relative;
      padding: 0 30px; }
      .sp-megamenu .home .dropdown-menu li:last-child > a {
        border: none; }
      .sp-megamenu .home .dropdown-menu li.parent > a:before {
        content: "\f105";
        font-family: Fontawesome;
        position: absolute;
        right: 30px;
        display: block;
        font-size: 14px;
        top: 12px; }
      .sp-megamenu .home .dropdown-menu li a {
        padding: 10px 0;
        display: block;
        font-weight: 400;
        font-size: 14px;
        color: #363636; }
        .sp-megamenu .home .dropdown-menu li a:hover {
          background: transparent; }
  .sp-megamenu .home:hover .dropdown-menu {
    opacity: 1;
    top: 100%;
    z-index: 9; }

#index .sp-megamenu .home > a:after {
  left: 0;
  right: 0; }

#contact .sp-megamenu .navbar-nav > li.contact > a:after {
  left: 0;
  right: 0; }

#module-smartblog-category .sp-megamenu .navbar-nav > li.blog > a:after {
  left: 0;
  right: 0; }

.label-menu {
  display: none; }

#remove-megamenu {
  display: none; }

.header_v4 .sp-megamenu .navbar-nav > li .dropdown-menu {
  display: none;
  margin: 0; }
  .header_v4 .sp-megamenu .navbar-nav > li .dropdown-menu:before {
    height: 20px;
    top: -20px; }
.header_v4 .sp-megamenu .navbar-nav > li:hover .dropdown-menu {
  display: block; }
.header_v4 .sp-megamenu .home .dropdown-menu {
  display: none;
  margin: 0; }
  .header_v4 .sp-megamenu .home .dropdown-menu:before {
    height: 20px;
    top: -20px; }
.header_v4 .sp-megamenu .home:hover .dropdown-menu {
  display: block; }

.rtl .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li, .rtl .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li {
  float: right; }
  .rtl .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li > a:after, .rtl .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li > a:after {
    left: auto;
    right: 0; }
  .rtl .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li .dropdown-menu ul li a:before, .rtl .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li .dropdown-menu ul li a:before {
    left: auto;
    right: 0; }
.rtl .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li .menu-content {
  text-align: left; }
.rtl .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li.special-product .product_lists.grid .product_block {
  float: right; }
  .rtl .sp-megamenu .navbar-nav > li.mega_type2 .dropdown-menu ul li.special-product .product_lists.grid .product_block .product-container .left-block .price-box {
    text-align: left; }
.rtl .sp-megamenu .navbar-nav > li.css_type .dropdown-menu {
  right: -15px;
  left: auto; }
  .rtl .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li.parent > a:before {
    right: auto;
    left: 30px;
    content: "\f104"; }
  .rtl .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li .dropdown-menu {
    left: auto;
    right: 100%; }
    .rtl .sp-megamenu .navbar-nav > li.css_type .dropdown-menu ul li .dropdown-menu:before {
      left: auto;
      right: -10px; }
.rtl .sp-megamenu .home .dropdown-menu .option ul.themecolor li a:before {
  left: auto;
  right: 0; }

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px !important; }

  .sp-megamenu .home > a {
    padding: 15px 10px;
    font-size: 12px; }

  .sp-megamenu .navbar-nav > li > a {
    padding: 15px 10px;
    font-size: 12px; }

  .header_v4 .sp-megamenu .home > a {
    padding: 15px 8px; }
  .header_v4 .sp-megamenu .navbar-nav > li > a {
    padding: 15px 8px; } }
@media (max-width: 992px) {
  .navbar .navbar-button {
    height: 50px; }
    .navbar .navbar-button .navbar-toggle {
      margin: 0;
      height: 50px;
      width: 50px;
      float: right;
      padding: 14px 11px;
      cursor: pointer;
      text-align: center;
      border-radius: 0;
      display: block; }
      .navbar .navbar-button .navbar-toggle .icon-bar {
        height: 4px;
        width: 24px;
        display: block;
        margin: 0 0 4px;
        background: #fff;
        border-radius: 0; }
  .navbar #sp-megamenu {
    position: fixed;
    top: 0px;
    left: 0;
    background: rgba(68, 73, 78, 0.95);
    bottom: 0px;
    width: 280px;
    padding: 0;
    z-index: 999999;
    visibility: hidden;
    -webkit-transform: translate3d(-280px, 0, 0);
    transform: translate3d(-280px, 0, 0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    text-align: left; }
    .navbar #sp-megamenu.sp-megamenu-active {
      visibility: visible;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .navbar #sp-megamenu .label-menu {
      padding: 20px;
      font-size: 24px;
      color: #fff;
      display: block;
      background: #000;
      margin-bottom: 1px; }
    .navbar #sp-megamenu #remove-megamenu {
      z-index: 10;
      cursor: pointer;
      color: #fff;
      position: absolute;
      top: 5px;
      right: 7px;
      display: block; }
    .navbar #sp-megamenu .sp-megamenu-container {
      overflow-y: auto;
      overflow-x: hidden;
      margin: 0;
      height: 295px; }
    .navbar #sp-megamenu .navbar-nav {
      float: none;
      text-align: left;
      overflow: hidden;
      margin: 0;
      display: block; }
      .navbar #sp-megamenu .navbar-nav li {
        float: left;
        margin: 0;
        position: relative;
        width: 100%;
        margin: 0 0 1px; }
        .navbar #sp-megamenu .navbar-nav li a, .navbar #sp-megamenu .navbar-nav li span.menu-title {
          color: #fff;
          font-weight: normal;
          text-transform: none;
          padding: 15px 20px;
          border: none;
          margin: 0;
          background: #333;
          line-height: inherit;
          font-size: 14px; }
          .navbar #sp-megamenu .navbar-nav li a:after, .navbar #sp-megamenu .navbar-nav li span.menu-title:after {
            display: none; }
        .navbar #sp-megamenu .navbar-nav li:hover a, .navbar #sp-megamenu .navbar-nav li:hover span.menu-title {
          background: #000;
          color: #fff; }
        .navbar #sp-megamenu .navbar-nav li span.grower {
          display: inline-block;
          position: absolute;
          right: 0;
          cursor: pointer;
          font-family: "FontAwesome";
          font-size: 10px;
          top: 0;
          color: #fff;
          opacity: 1;
          text-shadow: none;
          height: 100%;
          text-align: center;
          width: 50px;
          line-height: 48px;
          background: #000; }
          .navbar #sp-megamenu .navbar-nav li span.grower.close:before {
            content: "\f067"; }
          .navbar #sp-megamenu .navbar-nav li span.grower.open:before {
            content: "\f068"; }
        .navbar #sp-megamenu .navbar-nav li .dropdown-menu {
          position: relative;
          display: none;
          width: 100% !important;
          filter: alpha(opacity=100);
          opacity: 1;
          visibility: inherit;
          margin: 0px;
          box-shadow: none;
          top: auto;
          left: auto;
          right: auto;
          bottom: auto;
          border: none;
          background: transparent;
          transition: 0s all ease 0s;
          background: #000;
          z-index: 9;
          padding: 15px 20px; }
          .navbar #sp-megamenu .navbar-nav li .dropdown-menu:after {
            display: none; }
      .navbar #sp-megamenu .navbar-nav ul li {
        width: 100% !important;
        padding: 10px 0;
        border: none; }
        .navbar #sp-megamenu .navbar-nav ul li a {
          font-size: 12px;
          padding: 0;
          background: transparent; }
        .navbar #sp-megamenu .navbar-nav ul li.category-thumbnail {
          display: none; }
        .navbar #sp-megamenu .navbar-nav ul li.special-product {
          display: none; }
        .navbar #sp-megamenu .navbar-nav ul li .dropdown-menu {
          padding: 5px 0;
          border: none !important; }
          .navbar #sp-megamenu .navbar-nav ul li .dropdown-menu ul li {
            padding: 10px 15px; }
    .navbar #sp-megamenu .home {
      display: block;
      overflow: hidden;
      margin-bottom: 1px; }
      .navbar #sp-megamenu .home > a {
        padding: 15px 20px;
        background: #333;
        color: #fff;
        font-size: 14px;
        font-weight: normal;
        line-height: inherit;
        margin: 0;
        text-transform: none; }
        .navbar #sp-megamenu .home > a:after {
          display: none; }
        .navbar #sp-megamenu .home > a:hover {
          background: #000;
          color: #fff; }
      .navbar #sp-megamenu .home .dropdown-menu {
        position: relative;
        display: none;
        width: 100% !important;
        filter: alpha(opacity=100);
        opacity: 1;
        visibility: inherit;
        margin: 0px;
        box-shadow: none;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        border: none;
        background: transparent;
        transition: 0s all ease 0s;
        background: #000;
        z-index: 9;
        padding: 15px 20px; }
        .navbar #sp-megamenu .home .dropdown-menu:after {
          display: none; }
        .navbar #sp-megamenu .home .dropdown-menu li {
          width: 100% !important;
          padding: 10px 0;
          border: none; }
          .navbar #sp-megamenu .home .dropdown-menu li a {
            font-size: 14px;
            padding: 0;
            background: transparent;
            color: #fff; }
      .navbar #sp-megamenu .home span.grower {
        display: inline-block;
        position: absolute;
        right: 0;
        cursor: pointer;
        font-family: "FontAwesome";
        font-size: 10px;
        top: 0;
        color: #fff;
        opacity: 1;
        text-shadow: none;
        height: 100%;
        text-align: center;
        width: 50px;
        line-height: 48px;
        background: #000; }
        .navbar #sp-megamenu .home span.grower.close:before {
          content: "\f067"; }
        .navbar #sp-megamenu .home span.grower.open:before {
          content: "\f068"; }

  .rtl .navbar #sp-megamenu {
    left: auto;
    right: 0;
    transform: translate3d(280px, 0, 0);
    text-align: right; }
    .rtl .navbar #sp-megamenu.sp-megamenu-active {
      transform: translate3d(0, 0, 0); }
    .rtl .navbar #sp-megamenu #remove-megamenu {
      right: auto;
      left: 7px; }
    .rtl .navbar #sp-megamenu .navbar-nav {
      text-align: right; }
      .rtl .navbar #sp-megamenu .navbar-nav li span.grower {
        right: auto;
        left: 0; }
    .rtl .navbar #sp-megamenu .home span.grower {
      right: auto;
      left: 0; }
  .rtl .navbar .navbar-button .navbar-toggle {
    float: left; } }
@media (max-width: 767px) {
  .navbar #sp-megamenu .sp-megamenu-container {
    height: 245px; }

  .navbar .navbar-button {
    background: #000; }
    .navbar .navbar-button .navbar-toggle {
      float: left; }

  .rtl .navbar .navbar-button .navbar-toggle {
    float: right; } }
@media (max-width: 992px) {
  .navbar #sp-megamenu .navbar-nav ul li.catimage {
    display: none; }

  .sp-megamenu .navbar-nav > li.mega_type1 .dropdown-menu ul li .menu-content {
    display: none; } }
