#categories_block_left h3.title_block {
  margin: 0 0 16px; }
#categories_block_left ul {
  border-bottom: solid 1px #e5e5e5; }
  #categories_block_left ul li ul {
    border: none; }
    #categories_block_left ul li ul li {
      border-top: solid 1px #e5e5e5;
      padding: 0; }
  #categories_block_left ul li a {
    display: block;
    padding: 14px 0px;
    transition: 0.3s all ease 0s;
    color: #232323;
    font-size: 13px; }
