.title-module-listingtab {
  display: block;
  clear: both;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 0; }

.sp-listing-tabs {
  margin: 0;
  padding: 0;
  overflow: hidden; }

.acd-btn-add {
  float: left; }

.sp-listing-tabs .tab-all .ltabs-tab-img {
  height: 30px; }

.sp-listing-tabs .ltabs-wrap {
  margin: 0;
  padding: 0;
  overflow: hidden; }

/*-----------------------Css for Tabs ----------------------------*/
.sp-listing-tabs .item-price {
  margin-bottom: 5px; }

.sp-listing-tabs .item-price .price.product-price,
.sp-listing-tabs .item-price .old-price.product-price {
  color: red; }

.sp-listing-tabs .button-container .button.lnk_view {
  margin-left: 10px;
  background: none; }

.sp-listing-tabs .item-price .old-price.product-price {
  margin-right: 3px;
  margin-left: 3px; }

.sp-listing-tabs .item-desc {
  margin-bottom: 5px; }

.sp-listing-tabs .item-desc p {
  margin: 0;
  padding: 0; }

.sp-listing-tabs .functional-buttons {
  margin-top: 5px; }

.sp-listing-tabs .wishlist {
  margin-bottom: 5px; }

.sp-listing-tabs .compare {
  margin-bottom: 5px; }

.page-title-listingtabs {
  color: #2E2C2D;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  /* 	float: left; */
  overflow: hidden;
  width: 75%;
  margin: 10px 0 8px 10px; }

.sp-listing-tabs .load-clear {
  clear: both; }

.sp-listing-tabs .ltabs-tabs-container ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs {
  display: block; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs .tab-all:hover .cat-all {
  margin-top: -48px; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs .tab-all .cat-all {
  margin-top: 0px; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs .tab-sel .cat-all {
  margin-top: -48px; }

.sp-listing-tabs .ltabs-tab-img {
  float: left;
  margin-right: 10px;
  overflow: hidden; }

.sp-listing-tabs .item-prices {
  float: left;
  border-top: 1px solid #e9e9e9;
  padding: 2% 0 2% 0;
  border-bottom: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  color: #909090;
  width: 40%; }

.sp-listing-tabs .item-title {
  text-transform: uppercase;
  margin-bottom: 5px; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap span.ltabs-tab-arrow,
.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap span.ltabs-tab-selected {
  display: none; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox {
  position: relative;
  display: inline-block;
  text-align: left;
  line-height: 35px;
  clear: both;
  color: #888;
  cursor: pointer; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-selected {
  text-indent: 20px;
  border: 1px solid #DDD;
  background: #FFF;
  overflow: hidden; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-arrow {
  width: 35px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 12px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  background: #DDD; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-arrow,
.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-selected {
  position: relative;
  float: left;
  height: 35px;
  z-index: 1;
  display: inline-block;
  line-height: 35px; }

.sp-listing-tabs .add-loadmore {
  float: right;
  margin-left: 10px;
  margin-top: 2px;
  vertical-align: middle; }

.sp-listing-tabs .loaded .add-loadmore {
  display: none; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox .ltabs-tabs {
  position: absolute;
  top: 34px;
  left: 0;
  width: 100%;
  border: 1px solid #ddd;
  overflow: hidden;
  background: #fff;
  display: none;
  z-index: 999;
  padding: 10px 0; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox .ltabs-tabs.ltabs-open {
  display: block; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox .ltabs-tabs li {
  margin: 0;
  padding: 0;
  float: none; }

.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox .ltabs-tab span {
  display: block;
  line-height: 20px;
  padding: 6px 20px; }

/*-----------------------------Css for Content----------------------*/
.sp-listing-tabs .ltabs-wrap .ltabs-items-container {
  padding: 0; }

.sp-listing-tabs .ltabs-items-container .ltabs-items {
  margin: 0;
  padding: 0;
  width: 100%;
  display: none; }

.sp-listing-tabs .ltabs-items-container .ltabs-items-inner {
  margin: 0;
  padding: 0;
  width: 100%; }

.sp-listing-tabs .ltabs-items-container .ltabs-items-selected {
  display: block; }

.sp-listing-tabs .ltabs-items-container .ltabs-item-wrap {
  margin: 0;
  padding: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  /*box-shadow: #000 0em 0em 0em;*/ }

.sp-listing-tabs .ltabs-items-container .ltabs-item-wrap img {
  width: 100%;
  max-width: 100%;
  /*box-shadow: #000 0em 0em 0em;*/ }

.sp-listing-tabs .ltabs-items-container .ltabs-items .ltabs-item {
  float: left;
  margin-bottom: 30px;
  opacity: 0;
  filter: alpha(opacity=0);
  padding: 0 15px;
  /*box-shadow: #000 0em 0em 0em;*/ }

/*class show-slider*/
.sp-listing-tabs .ltabs-items-container.show-slider .new-box {
  top: 1px; }

.sp-listing-tabs .ltabs-items-container.show-slider .ltabs-item .item-inner .item-image {
  /*overflow: hidden;*/ }

.sp-listing-tabs .ltabs-items-container.show-slider .ltabs-item {
  width: 100%; }

.sp-listing-tabs .ltabs-items-container.show-slider .ltabs-items .ltabs-item {
  opacity: 1; }

/*for owl-next and owl-pre*/
/*for owl-next and owl-pre*/
/*class show-slider*/
.sp-listing-tabs .ltabs-items-container .ltabs-items .ltabs-item .item-inner {
  margin: 0 10px; }

.sp-listing-tabs .ltabs-items-container .ltabs-items .ltabs-item .item-inner .item-image {
  border: 1px solid #e9e9e9;
  margin-bottom: 10px;
  position: relative; }

.sp-listing-tabs .ltabs-items-container .ltabs-items .ltabs-item .item-inner .item-image img {
  width: 99%; }

.sp-listing-tabs .ltabs-items .ltabs-loading {
  width: 100%;
  max-width: 100%;
  padding: 0;
  position: relative;
  background: url(../img/477.gif) no-repeat scroll center center transparent;
  min-height: 600px;
  display: block;
  z-index: 0; }

.sp-listing-tabs .ltabs-items-container .ltabs-loadmore {
  display: block;
  overflow: hidden;
  text-align: center;
  margin: 0 auto; }

.sp-listing-tabs .ltabs-items .ltabs-loadmore .ltabs-loadmore-btn .ltabs-image-loading {
  background: url("../img/301.gif") no-repeat scroll center center transparent;
  width: 22px;
  height: 22px;
  display: none;
  margin-right: 10px;
  vertical-align: middle; }

.sp-listing-tabs .ltabs-items .ltabs-loadmore .ltabs-loadmore-btn:after {
  content: attr(data-label); }

.sp-listing-tabs .ltabs-items.ltabs-process .ltabs-loadmore {
  display: none; }

.sp-listing-tabs a.quick-view:hover {
  cursor: pointer; }

.sp-listing-tabs a.quick-view {
  display: none;
  z-index: 2; }

.sp-listing-tabs .item-image:hover a.quick-view {
  cursor: pointer;
  display: block;
  text-align: center;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.82);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
  color: #777676;
  font: 700 13px/16px Arial, Helvetica, sans-serif;
  height: 43px;
  left: 50%;
  margin: -21px 0 0 -53px;
  padding: 13px 0 0;
  position: absolute;
  top: 50%;
  width: 107px;
  text-decoration: none; }

.sp-listing-tabs .quick-view-wrapper-mobile {
  background-color: transparent;
  bottom: 0;
  height: 155px;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 215px;
  z-index: 2; }

.sp-listing-tabs .quick-view-wrapper-mobile a {
  background-color: rgba(208, 208, 211, 0.57);
  display: block;
  height: 130px;
  pointer-events: all;
  position: relative;
  right: -162px;
  top: 80px;
  transform: rotate(45deg);
  width: 85px; }

.sp-listing-tabs .quick-view-wrapper-mobile a:hover {
  background-color: rgba(125, 125, 125, 0.57); }

.sp-listing-tabs .quick-view-wrapper-mobile a i {
  bottom: 0;
  color: black;
  display: inline-block;
  font-size: x-large;
  height: 22px;
  left: 9px;
  overflow: hidden;
  position: absolute;
  right: 10px;
  top: 46px;
  transform: rotate(-44deg);
  width: 30px;
  z-index: 2; }

.sp-listing-tabs .item-image:hover {
  /*-webkit-box-shadow: rgba(0, 0, 0, 0.17) 0 0 13px;*/
  /*-moz-box-shadow: rgba(0, 0, 0, 0.17) 0 0 13px;*/
  /*-o-box-shadow: rgba(0, 0, 0, 0.17) 0 0 13px;*/
  /*box-shadow: rgba(0, 0, 0, 0.17) 0 0 13px;*/ }

/*-----------------------------Css for Responsive ----------------------*/
@media all and (min-width: 480px) and (max-width: 767px) {
  .sp-listing-tabs .quick-view-wrapper-mobile {
    display: block; }

  .sp-listing-tabs .ltabs-item .item-prices {
    width: 100%;
    border-bottom: none;
    border-right: none; }

  .ltabs-tabs-container .ltabs-tabs li {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important; }

  .sp-listing-tabs .ltabs-item .hits {
    width: 100%;
    padding-left: 0; }

  .sp-listing-tabs .ltabs-tab-img {
    display: none; }

  .sp-listing-tabs .ltabs04-6 .ltabs-item {
    width: 16.64%; }

  .sp-listing-tabs .ltabs04-5 .ltabs-item {
    width: 19.958%; }

  .sp-listing-tabs .ltabs04-4 .ltabs-item {
    width: 24.995%; }

  .sp-listing-tabs .ltabs04-3 .ltabs-item {
    width: 33.315%; }

  .sp-listing-tabs .ltabs04-2 .ltabs-item {
    width: 49.985%; }

  .sp-listing-tabs .ltabs04-1 .ltabs-item {
    width: 100%; }

  .sp-listing-tabs .ltabs04-1 .clr1,
  .sp-listing-tabs .ltabs04-2 .clr2,
  .sp-listing-tabs .ltabs04-3 .clr3,
  .sp-listing-tabs .ltabs04-4 .clr4,
  .sp-listing-tabs .ltabs04-5 .clr5,
  .sp-listing-tabs .ltabs04-6 .clr6 {
    clear: both; }

  .sp-listing-tabs .ltabs01-3 .ltabs-item .item-prices,
  .sp-listing-tabs .ltabs01-4 .ltabs-item .item-prices,
  .sp-listing-tabs .ltabs01-5 .ltabs-item .item-prices, .sp-listing-tabs .ltabs01-6 .ltabs-item .item-prices {
    width: 100%;
    border-bottom: none;
    border-right: none; }

  .sp-listing-tabs .ltabs01-3 .ltabs-item .hits,
  .sp-listing-tabs .ltabs01-4 .ltabs-item .hits,
  .sp-listing-tabs .ltabs01-5 .ltabs-item .hits,
  .sp-listing-tabs .ltabs01-6 .ltabs-item .hits {
    width: 100%; } }
/*
@media all and (min-width: 480px) and (max-width: 767px) {

    .sp-listing-tabs .quick-view-wrapper-mobile {
        display: block;
    }

    .sp-listing-tabs .ltabs03-6 .ltabs-item {
        width: 16.64%;
    }

    .sp-listing-tabs .ltabs03-5 .ltabs-item {
        width: 19.958%;
    }

    .sp-listing-tabs .ltabs03-4 .ltabs-item {
        width: 24.995%;
    }

    .sp-listing-tabs .ltabs02-5 .ltabs-item .hits {
        width: 100%
    }

    .sp-listing-tabs .ltabs02-5 .ltabs-item .item-prices {
        width: 100%;
        border-bottom: none;
        border-right: none;
    }

    .sp-listing-tabs .ltabs02-6 .ltabs-item .item-prices {
        width: 100%;
        border-bottom: none;
        border-right: none;
    }

    .sp-listing-tabs .ltabs03-3 .ltabs-item {
        width: 33.295%;
    }

    .sp-listing-tabs .ltabs03-2 .ltabs-item {
        width: 49.999%;
    }

    .sp-listing-tabs .ltabs03-1 .ltabs-item {
        width: 100%;
    }

    .sp-listing-tabs .ltabs03-1 .clr1,
    .sp-listing-tabs .ltabs03-2 .clr2,
    .sp-listing-tabs .ltabs03-3 .clr3,
    .sp-listing-tabs .ltabs03-4 .clr4,
    .sp-listing-tabs .ltabs03-5 .clr5,
    .sp-listing-tabs .ltabs03-6 .clr6 {
        clear: both;
    }

    .sp-listing-tabs .ltabs01-3 .ltabs-item .item-prices,
    .sp-listing-tabs .ltabs01-4 .ltabs-item .item-prices,
    .sp-listing-tabs .ltabs01-5 .ltabs-item .item-prices, .sp-listing-tabs .ltabs01-6 .ltabs-item .item-prices {
        width: 100%;
        border-bottom: none;
        border-right: none;
    }

    .sp-listing-tabs .ltabs01-3 .ltabs-item .hits,
    .sp-listing-tabs .ltabs01-4 .ltabs-item .hits,
    .sp-listing-tabs .ltabs01-5 .ltabs-item .hits,
    .sp-listing-tabs .ltabs01-6 .ltabs-item .hits {
        width: 100%;
    }
}*/
@media all and (min-width: 768px) and (max-width: 992px) {
  .sp-listing-tabs .quick-view-wrapper-mobile {
    display: none; }

  .sp-listing-tabs .ltabs01-3 .ltabs-item .item-prices,
  .sp-listing-tabs .ltabs01-4 .ltabs-item .item-prices,
  .sp-listing-tabs .ltabs01-5 .ltabs-item .item-prices, .sp-listing-tabs .ltabs01-6 .ltabs-item .item-prices {
    width: 100%;
    border-bottom: none;
    border-right: none; }

  .sp-listing-tabs .ltabs01-3 .ltabs-item .hits,
  .sp-listing-tabs .ltabs01-4 .ltabs-item .hits,
  .sp-listing-tabs .ltabs01-5 .ltabs-item .hits,
  .sp-listing-tabs .ltabs01-6 .ltabs-item .hits {
    width: 100%;
    padding-left: 0; }

  .sp-listing-tabs .ltabs03-6 .ltabs-item {
    width: 16.64%; }

  .sp-listing-tabs .ltabs03-5 .ltabs-item {
    width: 19.958%; }

  .sp-listing-tabs .ltabs03-4 .ltabs-item {
    width: 24.995%; }

  .sp-listing-tabs .ltabs03-3 .ltabs-item {
    width: 33.315%; }

  .sp-listing-tabs .ltabs02-2 .ltabs-item {
    width: 49.999%; }

  .sp-listing-tabs .ltabs03-1 .ltabs-item {
    width: 100%; }

  .sp-listing-tabs .ltabs03-4 .ltabs-item .item-prices {
    width: 100%;
    border-bottom: none;
    border-right: none; }

  .sp-listing-tabs .ltabs03-4 .ltabs-item .hits,
  .sp-listing-tabs .ltabs03-5 .ltabs-item .hits,
  .sp-listing-tabs .ltabs03-6 .ltabs-item .hits {
    width: 100%;
    padding-left: 0; }

  .sp-listing-tabs .ltabs03-5 .ltabs-item .item-prices {
    width: 100%;
    border-bottom: none;
    border-right: none; }

  .sp-listing-tabs .ltabs03-6 .ltabs-item .item-prices {
    width: 100%;
    border-bottom: none;
    border-right: none; }

  .sp-listing-tabs .ltabs02-1 .clr1,
  .sp-listing-tabs .ltabs02-2 .clr2,
  .sp-listing-tabs .ltabs02-3 .clr3,
  .sp-listing-tabs .ltabs02-4 .clr4,
  .sp-listing-tabs .ltabs02-5 .clr5,
  .sp-listing-tabs .ltabs02-6 .clr6 {
    clear: both; } }
@media all and (min-width: 992px) and (max-width: 1199px) {
  .sp-listing-tabs .quick-view-wrapper-mobile {
    display: none; }

  .sp-listing-tabs .ltabs01-3 .ltabs-item .item-prices,
  .sp-listing-tabs .ltabs01-4 .ltabs-item .item-prices,
  .sp-listing-tabs .ltabs01-5 .ltabs-item .item-prices, .sp-listing-tabs .ltabs01-6 .ltabs-item .item-prices {
    width: 100%;
    border-bottom: none;
    border-right: none; }

  .sp-listing-tabs .ltabs01-3 .ltabs-item .hits,
  .sp-listing-tabs .ltabs01-4 .ltabs-item .hits,
  .sp-listing-tabs .ltabs01-5 .ltabs-item .hits,
  .sp-listing-tabs .ltabs01-6 .ltabs-item .hits {
    width: 100%;
    padding-left: 0; }

  .sp-listing-tabs .ltabs02-6 .ltabs-item {
    width: 16.64%; }

  .sp-listing-tabs .ltabs02-5 .ltabs-item {
    width: 19.958%; }

  .sp-listing-tabs .ltabs02-4 .ltabs-item {
    width: 24.995%; }

  .sp-listing-tabs .ltabs02-3 .ltabs-item {
    width: 33.315%; }

  .sp-listing-tabs .ltabs02-2 .ltabs-item {
    width: 49.999%; }

  .sp-listing-tabs .ltabs02-1 .ltabs-item {
    width: 100%; }

  .sp-listing-tabs .ltabs02-4 .ltabs-item .item-prices {
    width: 100%;
    border-bottom: none;
    border-right: none; }

  .sp-listing-tabs .ltabs02-4 .ltabs-item .hits,
  .sp-listing-tabs .ltabs02-5 .ltabs-item .hits,
  .sp-listing-tabs .ltabs02-6 .ltabs-item .hits {
    width: 100%;
    padding-left: 0; }

  .sp-listing-tabs .ltabs02-5 .ltabs-item .item-prices {
    width: 100%;
    border-bottom: none;
    border-right: none; }

  .sp-listing-tabs .ltabs02-6 .ltabs-item .item-prices {
    width: 100%;
    border-bottom: none;
    border-right: none; }

  .sp-listing-tabs .ltabs02-1 .clr1,
  .sp-listing-tabs .ltabs02-2 .clr2,
  .sp-listing-tabs .ltabs02-3 .clr3,
  .sp-listing-tabs .ltabs02-4 .clr4,
  .sp-listing-tabs .ltabs02-5 .clr5,
  .sp-listing-tabs .ltabs02-6 .clr6 {
    clear: both; } }
@media all and (min-width: 1200px) {
  .sp-listing-tabs .quick-view-wrapper-mobile {
    display: none; }

  .sp-listing-tabs .ltabs01-6 .ltabs-item {
    width: 16.64%; }

  .sp-listing-tabs .ltabs01-5 .ltabs-item {
    width: 20%; }

  .sp-listing-tabs .ltabs01-4 .ltabs-item {
    width: 25%; }

  .sp-listing-tabs .ltabs01-3 .ltabs-item {
    width: 33.315%; }

  .sp-listing-tabs .ltabs01-2 .ltabs-item {
    width: 49.999%; }

  .sp-listing-tabs .ltabs01-1 .ltabs-item {
    width: 100%; }

  .sp-listing-tabs .ltabs01-1 .clr1,
  .sp-listing-tabs .ltabs01-2 .clr2,
  .sp-listing-tabs .ltabs01-3 .clr3,
  .sp-listing-tabs .ltabs01-4 .clr4,
  .sp-listing-tabs .ltabs01-5 .clr5,
  .sp-listing-tabs .ltabs01-6 .clr6 {
    clear: both; } }
/*-----------------------------Css for ie----------------------*/
.sp-listing-tabs.lt-ie9 .ltabs01-6 .ltabs-item {
  width: 16.64%; }

.sp-listing-tabs.lt-ie9 .ltabs01-5 .ltabs-item {
  width: 20%; }

.sp-listing-tabs.lt-ie9 .ltabs01-4 .ltabs-item {
  width: 25%; }

.sp-listing-tabs.lt-ie9 .ltabs01-3 .ltabs-item {
  width: 33.315%; }

.sp-listing-tabs.lt-ie9 .ltabs01-2 .ltabs-item {
  width: 49.999%; }

.sp-listing-tabs.lt-ie9 .ltabs01-1 .ltabs-item {
  width: 100%; }

.sp-listing-tabs.lt-ie9 .ltabs01-1 .clr1,
.sp-listing-tabs.lt-ie9 .ltabs01-2 .clr2,
.sp-listing-tabs.lt-ie9 .ltabs01-3 .clr3,
.sp-listing-tabs.lt-ie9 .ltabs01-4 .clr4,
.sp-listing-tabs.lt-ie9 .ltabs01-5 .clr5,
.sp-listing-tabs.lt-ie9 .ltabs01-6 .clr6 {
  clear: both; }

.sp-listing-tabs .ltabs-item .item-desc {
  overflow: hidden; }

.sp-listing-tabs .ltabs-item .item-readmore {
  text-align: right; }

.sp-listing-tabs .ltabs-item .item-desc + .item-readmore {
  margin-top: 10px; }

.sp-listing-tabs .ltabs-item .item-btn-add {
  clear: both;
  display: block;
  padding-top: 10px;
  overflow: hidden; }

.sp-listing-tabs .ltabs-item .item-btn-add form {
  margin: 0; }

/*-----------------------------ClearFix----------------------*/
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

/*----------------------------- Edit ListingTabs ----------------------*/
div.sp-listing-tabs {
  width: 100%; }
  div.sp-listing-tabs .ltabs-tabs-container {
    text-align: center;
    margin: 50px 0 110px; }
    div.sp-listing-tabs .ltabs-tabs-container .ltabs-tab {
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0 50px;
      cursor: pointer;
      position: relative; }
      div.sp-listing-tabs .ltabs-tabs-container .ltabs-tab:after {
        content: "";
        height: 30px;
        width: 80px;
        display: inline-block;
        background-image: url(../../../../../img/icon/subtitle.png);
        background-repeat: no-repeat;
        background-position: 0px 0px;
        position: absolute;
        bottom: -50px;
        left: calc((100% - 80px)/2);
        opacity: 0; }
      div.sp-listing-tabs .ltabs-tabs-container .ltabs-tab.tab-sel {
        color: #363636;
        font-size: 30px; }
        div.sp-listing-tabs .ltabs-tabs-container .ltabs-tab.tab-sel:after {
          opacity: 1; }
  div.sp-listing-tabs .ltabs-items .ltabs-loadmore .ltabs-loadmore-btn {
    display: inline-block !important;
    color: #363636;
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px 30px;
    border: solid 2px #000;
    border-radius: 2px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s all ease 0s; }
    div.sp-listing-tabs .ltabs-items .ltabs-loadmore .ltabs-loadmore-btn:hover {
      background: #000;
      color: #fff; }

div.sp-listing-tabs.layout2 {
  padding: 100px 0 20px; }
  div.sp-listing-tabs.layout2 .title-module-listingtab {
    color: #363636;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding: 30px 0 90px; }
  div.sp-listing-tabs.layout2 .ltabs-wrap {
    margin: 0 -15px;
    position: relative; }
    div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-tabs-container {
      float: left;
      width: 25%;
      padding: 0 15px;
      margin: 0;
      text-align: left;
      position: relative; }
      div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-tabs-container:before {
        content: "";
        display: block;
        height: 86px;
        width: 122px;
        background: url(../../../../../img/icon/icon_01.jpg) no-repeat 0px 0px;
        position: absolute;
        left: 15px;
        top: 0;
        z-index: -1; }
      div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-tabs-container .ltabs-tab {
        margin: 0;
        display: block;
        font-weight: 400;
        font-size: 14px;
        text-transform: none;
        font-family: Poppins;
        letter-spacing: 2px;
        padding: 10px 0px;
        transition: 0.3s all ease 0s; }
        div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-tabs-container .ltabs-tab:before {
          content: "";
          display: block;
          height: 1px;
          width: 0;
          transition: 0.3s all ease 0s;
          position: absolute;
          left: 0;
          top: 17px; }
        div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-tabs-container .ltabs-tab:hover, div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-tabs-container .ltabs-tab.tab-sel {
          padding: 10px 35px;
          font-size: 14px; }
          div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-tabs-container .ltabs-tab:hover:before, div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-tabs-container .ltabs-tab.tab-sel:before {
            width: 20px; }
        div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-tabs-container .ltabs-tab:after {
          display: none; }
    div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-items-container {
      float: left;
      width: 75%;
      margin: 0; }
      div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-items-container.product_list.grid .product-container {
        position: relative; }
        div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-items-container.product_list.grid .product-container .right-block {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.5);
          padding: 70px 10px 0;
          transition: 0.3s all ease 0s;
          opacity: 0;
          z-index: 1; }
          div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-items-container.product_list.grid .product-container .right-block h5.product-name a {
            color: #fff; }
          div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-items-container.product_list.grid .product-container .right-block .price-box .old-price {
            color: #fff; }
          div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-items-container.product_list.grid .product-container .right-block .price-box .price {
            color: #fff; }
          div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-items-container.product_list.grid .product-container .right-block div.star:after {
            opacity: 1;
            color: #fff; }
        div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-items-container.product_list.grid .product-container .content-price {
          color: #363636;
          font-weight: 500;
          font-size: 22px;
          letter-spacing: 3px;
          position: absolute;
          right: 20px;
          bottom: 20px;
          z-index: 1;
          transition: 0.3s all ease 0s; }
        div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-items-container.product_list.grid .product-container:hover .right-block {
          opacity: 1; }
        div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-items-container.product_list.grid .product-container:hover .content-price {
          opacity: 0; }
    div.sp-listing-tabs.layout2 .ltabs-wrap .view-all {
      display: inline-block;
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 600;
      padding: 10px 30px;
      border: solid 2px #363636;
      border-radius: 2px;
      position: absolute;
      left: 15px;
      bottom: 30px; }
  div.sp-listing-tabs.layout2 .ltabs-loadmore {
    display: none; }
  div.sp-listing-tabs.layout2.best-seller {
    padding-top: 50px; }
    div.sp-listing-tabs.layout2.best-seller .title-module-listingtab {
      text-align: left; }
    div.sp-listing-tabs.layout2.best-seller .ltabs-wrap .ltabs-tabs-container {
      float: right; }
      div.sp-listing-tabs.layout2.best-seller .ltabs-wrap .ltabs-tabs-container:before {
        top: 0;
        right: 0;
        left: auto;
        background: url("../../../../../img/icon/icon_04.jpg") no-repeat scroll 0 0;
        height: 86px;
        width: 161px; }
    div.sp-listing-tabs.layout2.best-seller .ltabs-wrap .view-all {
      right: 12%;
      left: auto; }

div.sp-listing-tabs.layout4 {
  padding: 0 0 20px; }
  div.sp-listing-tabs.layout4 .ltabs-wrap {
    margin: 0 -15px;
    position: relative; }
    div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container {
      width: 100%;
      padding: 0 15px;
      margin: 0;
      position: relative;
      overflow: hidden; }
      div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container:before {
        content: "";
        display: block;
        height: 87px;
        width: 152px;
        background: url(../../../../../img/icon/icon_03.jpg) no-repeat 0px 0px;
        position: absolute;
        left: 15px;
        top: 0;
        z-index: -1; }
      div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container .title-module-listingtab {
        color: #363636;
        font-weight: 700;
        font-size: 30px;
        text-transform: uppercase;
        padding: 30px 30px 90px;
        float: left; }
      div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container .ltabs-tabs-wrap {
        float: right;
        font-size: 0;
        margin: 0 -7px;
        padding-top: 15px; }
      div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container .ltabs-tab {
        margin: 0;
        display: inline-/block;
        font-weight: 400;
        font-size: 14px;
        text-transform: none;
        font-family: Poppins;
        letter-spacing: 2px;
        padding: 10px 0px;
        transition: 0.3s all ease 0s;
        background: #ebebeb;
        padding: 15px 30px;
        margin: 0 7px; }
        div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container .ltabs-tab:hover, div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container .ltabs-tab.tab-sel {
          font-size: 14px;
          color: #fff; }
        div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container .ltabs-tab:after {
          display: none; }
    div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-items-container {
      width: 100%;
      margin: 0; }
      div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-items-container.product_list.grid .product-container {
        position: relative; }
        div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-items-container.product_list.grid .product-container .right-block {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.5);
          padding: 70px 10px 0;
          transition: 0.3s all ease 0s;
          opacity: 0;
          z-index: 1; }
          div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-items-container.product_list.grid .product-container .right-block h5.product-name a {
            color: #fff; }
          div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-items-container.product_list.grid .product-container .right-block .price-box .old-price {
            color: #fff; }
          div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-items-container.product_list.grid .product-container .right-block .price-box .price {
            color: #fff; }
          div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-items-container.product_list.grid .product-container .right-block div.star:after {
            opacity: 1;
            color: #fff; }
        div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-items-container.product_list.grid .product-container .content-price {
          color: #363636;
          font-weight: 500;
          font-size: 22px;
          letter-spacing: 3px;
          position: absolute;
          right: 20px;
          bottom: 20px;
          z-index: 1;
          transition: 0.3s all ease 0s; }
        div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-items-container.product_list.grid .product-container:hover .right-block {
          opacity: 1; }
        div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-items-container.product_list.grid .product-container:hover .content-price {
          opacity: 0; }
  div.sp-listing-tabs.layout4 .ltabs-items-container .ltabs-loadmore {
    margin-top: 20px; }
    div.sp-listing-tabs.layout4 .ltabs-items-container .ltabs-loadmore .ltabs-loadmore-btn {
      text-transform: none; }

div.sp-listing-tabs.layout5 .ltabs-items-container .ltabs-items .ltabs-item {
  margin: 0; }
div.sp-listing-tabs.layout5 .ltabs-tabs-container {
  margin: 50px 0;
  text-align: center; }
  div.sp-listing-tabs.layout5 .ltabs-tabs-container .ltabs-tab {
    margin: 10px 0 50px; }
  div.sp-listing-tabs.layout5 .ltabs-tabs-container .ltabs-tabs-wrap {
    float: none;
    display: inline-block; }
div.sp-listing-tabs.layout5 .owl-controls {
  display: inline-block; }
  div.sp-listing-tabs.layout5 .owl-controls .owl-nav {
    font-size: 0;
    display: inline-block; }
    div.sp-listing-tabs.layout5 .owl-controls .owl-nav .owl-prev, div.sp-listing-tabs.layout5 .owl-controls .owl-nav .owl-next {
      display: inline-block;
      height: 19px;
      width: 10px;
      background-image: url(../../../../../img/icon/arrow.png);
      background-repeat: no-repeat;
      background-color: #3f3f3f;
      margin: 0;
      position: absolute;
      z-index: 9;
      top: 9px; }
    div.sp-listing-tabs.layout5 .owl-controls .owl-nav .owl-prev {
      background-position: left center;
      left: 0; }
    div.sp-listing-tabs.layout5 .owl-controls .owl-nav .owl-next {
      background-position: right center;
      right: 0; }
div.sp-listing-tabs.layout5 .ltabs-loadmore {
  display: none; }

@media (min-width: 992px) and (max-width: 1199px) {
  div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-tabs-container {
    width: 33.3333%; }
  div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-items-container {
    width: 66.6667%; }
  div.sp-listing-tabs.layout2.best-seller .ltabs-wrap .view-all {
    right: 17%; }

  div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container .ltabs-tabs-wrap {
    padding-top: 20px; }
  div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container .ltabs-tab {
    font-size: 12px;
    padding: 10px 15px; }
    div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container .ltabs-tab:hover, div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container .ltabs-tab.tab-sel {
      font-size: 12px; }

  .rtl div.sp-listing-tabs.layout2.best-seller .ltabs-wrap .view-all {
    left: 17%;
    right: auto; } }
@media (min-width: 767px) and (max-width: 991px) {
  div.sp-listing-tabs .ltabs-tabs-container .ltabs-tab {
    margin: 0 30px; }

  div.sp-listing-tabs.layout2 .title-module-listingtab {
    font-size: 26px; }
  div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-tabs-container {
    width: 33.3333%; }
  div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-items-container {
    width: 66.6667%; }
    div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-items-container.product_list.grid .product-container .right-block {
      padding: 50px 10px 0; }
  div.sp-listing-tabs.layout2.best-seller .ltabs-wrap .view-all {
    right: 13%; }

  div.sp-listing-tabs.layout5 .ltabs-tabs-container .ltabs-tabs-wrap {
    display: block; }

  div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container .ltabs-tabs {
    margin: 0 -7px;
    text-align: left; }
  div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container .ltabs-tabs-wrap {
    padding: 0 0 30px;
    margin: 0;
    width: 100%; }
  div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container .ltabs-tab {
    font-size: 12px;
    padding: 10px 20px; }
    div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container .ltabs-tab:hover, div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container .ltabs-tab.tab-sel {
      font-size: 12px; }

  .rtl div.sp-listing-tabs.layout2.best-seller .ltabs-wrap .view-all {
    left: 13%;
    right: auto; }
  .rtl div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container .ltabs-tabs {
    text-align: right; } }
@media (max-width: 767px) {
  div.sp-listing-tabs .ltabs-tabs-container .ltabs-tab {
    margin: 0 10px; }

  div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-tabs-container {
    width: 50%; }
  div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-items-container {
    width: 50%; }

  div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container .ltabs-tabs {
    margin: 0 -7px;
    text-align: left; }
  div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container .ltabs-tabs-wrap {
    padding: 0 0 30px;
    margin: 0;
    width: 100%; }
  div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container .ltabs-tab {
    font-size: 12px;
    padding: 10px 20px;
    margin-bottom: 15px; }
    div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container .ltabs-tab:hover, div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container .ltabs-tab.tab-sel {
      font-size: 12px; }

  div.sp-listing-tabs.layout5 .ltabs-tabs-container .ltabs-tabs-wrap {
    display: block; }

  .rtl div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container .ltabs-tabs {
    text-align: right; } }
@media (max-width: 480px) {
  div.sp-listing-tabs .ltabs-tabs-container {
    margin: 30px 0; }

  div.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox {
    width: 100%; }
    div.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox .ltabs-tab-selected {
      width: calc(100% - 35px);
      color: #000;
      text-transform: uppercase; }

  div.sp-listing-tabs .ltabs-tabs-container .ltabs-tab {
    display: block; }
    div.sp-listing-tabs .ltabs-tabs-container .ltabs-tab span.ltabs-tab-label {
      font-weight: 400;
      text-transform: none;
      font-size: 13px;
      font-family: Poppins; }
    div.sp-listing-tabs .ltabs-tabs-container .ltabs-tab:after {
      display: none; }

  div.sp-listing-tabs.layout2 .ltabs-wrap {
    text-align: center; }
    div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-tabs-container {
      width: 100%;
      margin-bottom: 25px; }
      div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-tabs-container .ltabs-tab {
        padding: 0; }
        div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-tabs-container .ltabs-tab:before {
          display: none; }
        div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-tabs-container .ltabs-tab:hover, div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-tabs-container .ltabs-tab.tab-sel {
          padding: 0; }
    div.sp-listing-tabs.layout2 .ltabs-wrap .ltabs-items-container {
      width: 100%; }
    div.sp-listing-tabs.layout2 .ltabs-wrap .view-all {
      position: relative;
      left: auto;
      right: auto;
      bottom: auto;
      top: auto; }
  div.sp-listing-tabs.layout2.best-seller .title-module-listingtab {
    text-align: center; }
  div.sp-listing-tabs.layout2.best-seller .ltabs-wrap .view-all {
    left: auto;
    right: auto; }

  div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container .title-module-listingtab {
    width: 100%; }

  div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container .ltabs-tabs-wrap {
    font-size: 14px; }

  div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container .ltabs-tabs {
    margin: 0; }

  div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container {
    overflow: visible; }

  div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container .ltabs-tab {
    margin: 0;
    background: #fff;
    padding: 0; }
    div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container .ltabs-tab:hover, div.sp-listing-tabs.layout4 .ltabs-wrap .ltabs-tabs-container .ltabs-tab.tab-sel {
      background: #fff; }

  div.sp-listing-tabs.layout5 .ltabs-tabs-container {
    margin: 0 0 30px; }

  div.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox {
    padding: 0; }
    div.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox .ltabs-tabs.ltabs-open .owl-controls {
      display: none; }
    div.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox .ltabs-tabs.ltabs-open .owl-stage {
      width: 100% !important; }
    div.sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox .ltabs-tabs.ltabs-open .owl-item {
      width: 100% !important; }

  .rtl .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox {
    text-align: right; }
    .rtl .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-selected {
      float: right;
      text-align: right; }
    .rtl .sp-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-arrow {
      float: right; }
  .rtl div.sp-listing-tabs.layout2.best-seller .ltabs-wrap .ltabs-tabs-container .title-module-listingtab {
    text-align: center; }
  .rtl div.sp-listing-tabs.layout2 .ltabs-wrap .view-all {
    right: auto;
    left: auto; }
  .rtl div.sp-listing-tabs.layout2.best-seller .ltabs-wrap .view-all {
    right: auto;
    left: auto; } }
